html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}


/* Navbar */

.navbar.navbar-light {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 10px -1px rgba(87, 97, 100, 0.35);
    box-shadow: 0 2px 10px -1px rgba(87, 97, 100, 0.35);
}

.navbar.navbar-light .navbar-brand img {
    height: 36px;
}

.navbar.navbar-light .navbar-nav .nav-item {
    margin-top: -.5rem;
    margin-bottom: -.5rem;
    padding: 0 20px;
    position: relative;
    height: 60px;
}

.navbar.navbar-light .nav-item.active {
    background-color: #003674;
}

.navbar.navbar-light .nav-item.active .nav-link {
    color: #fff;
}

.navbar.navbar-light .nav-item .nav-link {
    color: #5a5a5a;
    font-size: .75em;
    letter-spacing: .1em;
    font-weight: 500;
    -webkit-transition: color .1s ease-out;
    -moz-transition: color .1s ease-out;
    -o-transition: color .1s ease-out;
    transition: color .1s ease-out;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.navbar.navbar-light .nav-item:hover:not(.active) .nav-link {
    color: #003674;
}

.navbar.navbar-light .navbar-nav .nav-item+.nav-item {
    margin-left: 0;
}


/* Hero */

#hero {
    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom left;
    height: 100%;
}

#hero:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #003876;
    opacity: .8;
    z-index: 1;
}

#hero .unit {
    color: #fff;
    z-index: 2;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    padding-top: 20%;
}

#hero .caption {
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 6px;
    position: relative;
    top: 40px;
    opacity: 0;
    -webkit-transition: opacity 1.5s ease-in .3s, top 1s ease-out .3s;
    -moz-transition: opacity 1.5s ease-in .3s, top 1s ease-out .3s;
    -o-transition: opacity 1.5s ease-in .3s, top 1s ease-out .3s;
    transition: opacity 1.5s ease-in .3s, top 1s ease-out .3s;
}

#hero .caption.triggered {
    top: 0;
    opacity: 1;
}

#hero .discover {
    display: inline-block;
    font-size: 1.2em;
    font-weight: 200;
    margin-top: 40px;
    position: relative;
    left: -25px;
    opacity: 0;
    -webkit-transition: opacity 1.5s ease-in .8s, left 1s ease-out .8s;
    -moz-transition: opacity 1.5s ease-in .8s, left 1s ease-out .8s;
    -o-transition: opacity 1.5s ease-in .8s, left 1s ease-out .8s;
    transition: opacity 1.5s ease-in .8s, left 1s ease-out .8s;
}

#hero .discover.triggered {
    left: 0;
    opacity: 1;
}

#hero .discover .button {
    padding: 12px 20px;
    border-radius: 1px;
    cursor: pointer;
    -webkit-transition: background-color .1s ease-out;
    -moz-transition: background-color .1s ease-out;
    -o-transition: background-color .1s ease-out;
    transition: background-color .1s ease-out;
    display: inline-block;
    width: 160px;
}

#hero .discover .button:first-child {
    color: #003876;
    background-color: rgb(255, 255, 255);
}

#hero .discover .button:last-child {
    margin-left: 1rem;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgb(255, 255, 255);
}

#hero .discover .button:first-child:hover {
    background-color: rgb(235, 235, 235);
}

#hero .discover .button:last-child:hover {
    background-color: rgba(255, 255, 255, .1);
}

#hero .discover .button:first-child:active {
    background-color: rgb(220, 220, 220);
}

#hero .discover .button:last-child:active {
    background-color: rgba(255, 255, 255, .2);
}


/* Customers */

#customers {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 64%, #f9fcff 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 64%, #f9fcff 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 64%, #f9fcff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9fcff', GradientType=0);
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 2rem;
}

#customers .title {
    font-size: 3em;
    font-weight: 300;
    padding: 0 0 1.4em;
    position: relative;
    top: -40px;
    opacity: 0;
    -webkit-transition: opacity 1s ease-in .3s, top 1s ease-out;
    -moz-transition: opacity 1s ease-in .3s, top 1s ease-out;
    -o-transition: opacity 1s ease-in .3s, top 1s ease-out;
    transition: opacity 1s ease-in .3s, top 1s ease-out;
}

#customers .title.triggered {
    top: 0;
    opacity: 1;
}

#customers .title:after {
    content: "";
    width: 100px;
    height: 1px;
    background-color: #333;
    bottom: -.8em;
    position: relative;
    display: block;
    margin: 0 auto;
}

#customers .img-container {
    padding: 1rem 0;
    position: relative;
    bottom: -40px;
    opacity: 0;
    -webkit-transition: opacity .6s ease-in .4s, bottom .6s ease-out .2s;
    -moz-transition: opacity .6s ease-in .4s, bottom .6s ease-out .2s;
    -o-transition: opacity .6s ease-in .4s, bottom .6s ease-out .2s;
    transition: opacity .6s ease-in .4s, bottom .6s ease-out .2s;
}

#customers .img-container:first-child {
    padding: 1rem 0;
    position: relative;
    bottom: -40px;
    opacity: 0;
    -webkit-transition: opacity .6s ease-in .2s, bottom .6s ease-out;
    -moz-transition: opacity .6s ease-in .2s, bottom .6s ease-out;
    -o-transition: opacity .6s ease-in .2s, bottom .6s ease-out;
    transition: opacity .6s ease-in .2s, bottom .6s ease-out;
}

#customers .img-container:last-child {
    padding: 1rem 0;
    position: relative;
    bottom: -40px;
    opacity: 0;
    -webkit-transition: opacity .6s ease-in .6s, bottom .6s ease-out .4s;
    -moz-transition: opacity .6s ease-in .6s, bottom .6s ease-out .4s;
    -o-transition: opacity .6s ease-in .6s, bottom .6s ease-out .4s;
    transition: opacity .6s ease-in .6s, bottom .6s ease-out .4s;
}

#customers .img-container.triggered {
    bottom: 0;
    opacity: 1;
}

#customers img {
    max-height: 80px;
    max-width: 300px;
    margin: 0 3rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#customers .img-container:first-child img {
    max-height: 120px;
}


/* Products */

#products {
    background-color: #ffff;
    height: 700px;
}
