html,
body {
  font-family: "Trebuchet MS", Verdana, Arial, sans-serif; }

.fullscreen-hero {
  width: 100vw;
  height: calc(100vh - 56px);
  position: relative;
  background-image: url(../img/hero/hero-sm.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }
  @media only screen and (min-width: 768px) {
    .fullscreen-hero {
      background-image: url(../img/hero/hero-md.png); } }
  @media only screen and (min-width: 992px) {
    .fullscreen-hero {
      background-image: url(../img/hero/hero-lg.png); } }
  @media only screen and (min-width: 1200px) {
    .fullscreen-hero {
      background-image: url(../img/hero/hero-xl.png); } }
  @media only screen and (min-width: 1920px) {
    .fullscreen-hero {
      background-image: url(../img/hero/hero-xxl.png); } }
  @media only screen and (min-width: 2560px) {
    .fullscreen-hero {
      background-image: url(../img/hero/hero-xxxl.png); } }
  .fullscreen-hero:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #003876;
    opacity: 0.3;
    z-index: 0; }
  .fullscreen-hero .caption {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
    @media only screen and (min-width: 768px) {
      .fullscreen-hero .caption {
        max-width: 520px; } }
    @media only screen and (min-width: 1200px) {
      .fullscreen-hero .caption {
        max-width: 680px; } }
    .fullscreen-hero .caption h1 {
      margin-bottom: 30px; }
      @media only screen and (max-width: 767px) {
        .fullscreen-hero .caption h1 {
          margin-bottom: 15px;
          font-size: 30px; } }
    .fullscreen-hero .caption h3 {
      margin-bottom: 15px;
      font-size: 18px; }
      @media only screen and (min-width: 768px) {
        .fullscreen-hero .caption h3 {
          margin-bottom: 30px;
          font-size: 20px; } }
    .fullscreen-hero .caption .btn {
      border-radius: 0;
      border-color: #fff;
      color: #fff;
      padding: 0.8rem 2rem;
      cursor: pointer; }

.hero {
  width: 100vw;
  position: relative;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 180px; }
  @media only screen and (min-width: 768px) {
    .hero {
      height: 320px; } }
  .hero:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #003876;
    opacity: 0.3;
    z-index: 0; }
  .hero .caption {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
    @media only screen and (min-width: 768px) {
      .hero .caption {
        max-width: 520px; } }
    @media only screen and (min-width: 1200px) {
      .hero .caption {
        max-width: 680px; } }
    .hero .caption h1 {
      margin-bottom: 30px; }
      @media only screen and (max-width: 767px) {
        .hero .caption h1 {
          margin-bottom: 15px;
          font-size: 30px; } }
    .hero .caption h3 {
      margin-bottom: 15px;
      font-size: 18px; }
      @media only screen and (min-width: 768px) {
        .hero .caption h3 {
          margin-bottom: 30px;
          font-size: 20px; } }
    .hero .caption .btn {
      border-radius: 0;
      border-color: #fff;
      color: #fff;
      padding: 0.8rem 2rem;
      cursor: pointer; }

.hero.about-us {
  background-image: url(../img/hero/hero-about-us-bw-sm.png); }
  @media only screen and (min-width: 768px) {
    .hero.about-us {
      background-image: url(../img/hero/hero-about-us-bw-md.png); } }
  @media only screen and (min-width: 992px) {
    .hero.about-us {
      background-image: url(../img/hero/hero-about-us-bw-lg.png); } }
  @media only screen and (min-width: 1200px) {
    .hero.about-us {
      background-image: url(../img/hero/hero-about-us-bw-xl.png); } }
  @media only screen and (min-width: 1920px) {
    .hero.about-us {
      background-image: url(../img/hero/hero-about-us-bw-xxl.png); } }
  @media only screen and (min-width: 2560px) {
    .hero.about-us {
      background-image: url(../img/hero/hero-about-us-bw-xxxl.png); } }

.hero.products-and-services {
  background-image: url(../img/hero/hero-products-and-services-bw-sm.png); }
  @media only screen and (min-width: 768px) {
    .hero.products-and-services {
      background-image: url(../img/hero/hero-products-and-services-bw-md.png); } }
  @media only screen and (min-width: 992px) {
    .hero.products-and-services {
      background-image: url(../img/hero/hero-products-and-services-bw-lg.png); } }
  @media only screen and (min-width: 1200px) {
    .hero.products-and-services {
      background-image: url(../img/hero/hero-products-and-services-bw-xl.png); } }
  @media only screen and (min-width: 1920px) {
    .hero.products-and-services {
      background-image: url(../img/hero/hero-products-and-services-bw-xxl.png); } }
  @media only screen and (min-width: 2560px) {
    .hero.products-and-services {
      background-image: url(../img/hero/hero-products-and-services-bw-xxxl.png); } }

.pitch {
  padding-top: 100px;
  padding-bottom: 100px; }
  @media only screen and (max-width: 991px) {
    .pitch {
      padding-top: 50px;
      padding-bottom: 50px; } }
  .pitch .message {
    margin-bottom: 60px;
    text-align: center; }
    .pitch .message p {
      max-width: 700px;
      margin: auto; }
  .pitch .box {
    display: flex; }
    @media only screen and (max-width: 991px) {
      .pitch .box {
        align-items: center;
        margin-top: 30px; }
        .pitch .box:first-child {
          margin-top: 0; } }
    .pitch .box .icon {
      width: 96px;
      height: 96px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #444444;
      font-size: 32px;
      float: left; }
      @media only screen and (max-width: 991px) {
        .pitch .box .icon {
          align-items: center;
          width: 80px;
          height: 80px;
          font-size: 24px; } }
      @media only screen and (max-width: 767px) {
        .pitch .box .icon {
          width: 64px;
          height: 64px;
          font-size: 18px; } }
      .pitch .box .icon img {
        width: 64px; }
        @media only screen and (max-width: 991px) {
          .pitch .box .icon img {
            width: 48px; } }
        @media only screen and (max-width: 767px) {
          .pitch .box .icon img {
            width: 32px; } }
    .pitch .box .text {
      width: calc(100% - 96px - 30px);
      padding-left: 30px;
      padding-right: 30px;
      font-size: 13px; }
      @media only screen and (max-width: 1199px) {
        .pitch .box .text {
          width: calc(100% - 80px - 15px);
          padding-left: 15px;
          padding-right: 15px; } }
      @media only screen and (max-width: 991px) {
        .pitch .box .text {
          font-size: 14px;
          padding-right: 0; } }
      .pitch .box .text .title {
        font-size: 24px; }

.examples {
  background-color: #f8f8f8;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center; }
  @media only screen and (max-width: 991px) {
    .examples {
      padding-top: 50px;
      padding-bottom: 50px; } }
  .examples h1 {
    margin-bottom: 30px; }
    @media only screen and (max-width: 767px) {
      .examples h1 {
        font-size: 32px; } }
  .examples .sub-header {
    font-size: 18px;
    margin-bottom: 0; }
    @media only screen and (max-width: 767px) {
      .examples .sub-header {
        font-size: 14px; } }
  .examples .showcase {
    margin-top: -100px;
    margin-bottom: -50px;
    max-width: 100%; }
    @media only screen and (max-width: 991px) {
      .examples .showcase {
        margin-top: -50px;
        margin-bottom: 0; } }
    @media only screen and (max-width: 767px) {
      .examples .showcase {
        margin-top: 0; } }
  .examples .more-info {
    text-align: left; }
    .examples .more-info p {
      margin-bottom: 30px; }
    .examples .more-info ul {
      padding: 0;
      margin: 0;
      list-style: none; }
    .examples .more-info li {
      margin-bottom: 6px; }
      @media only screen and (max-width: 767px) {
        .examples .more-info li {
          margin-bottom: 15px; } }
    .examples .more-info .fa {
      font-size: 18px;
      margin-right: 15px;
      color: #51bf5f; }

.clients {
  color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  position: relative;
  background-image: url(../img/hero/hero-sm.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }
  @media only screen and (min-width: 768px) {
    .clients {
      background-image: url(../img/hero/hero-md.png); } }
  @media only screen and (min-width: 992px) {
    .clients {
      background-image: url(../img/hero/hero-lg.png); } }
  @media only screen and (min-width: 1200px) {
    .clients {
      background-image: url(../img/hero/hero-xl.png); } }
  @media only screen and (min-width: 1920px) {
    .clients {
      background-image: url(../img/hero/hero-xxl.png); } }
  @media only screen and (min-width: 2560px) {
    .clients {
      background-image: url(../img/hero/hero-xxxl.png); } }
  @media only screen and (max-width: 991px) {
    .clients {
      padding-top: 50px;
      padding-bottom: 50px; } }
  .clients h1 {
    margin-bottom: 60px;
    z-index: 1;
    position: relative; }
    @media only screen and (max-width: 991px) {
      .clients h1 {
        margin-bottom: 30px; } }
    @media only screen and (max-width: 767px) {
      .clients h1 {
        font-size: 32px; } }
  .clients:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #060606;
    opacity: 0.8;
    z-index: 0; }
  .clients .logos {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1; }
    @media only screen and (max-width: 991px) {
      .clients .logos [class*="col-"] {
        margin-top: 30px; }
        .clients .logos [class*="col-"]:first-child {
          margin-top: 0; } }
    .clients .logos img {
      max-height: 100px;
      max-width: 100%; }
      @media only screen and (max-width: 991px) {
        .clients .logos img {
          max-width: 200px; } }

.about {
  padding-top: 100px;
  padding-bottom: 100px; }
  @media only screen and (max-width: 991px) {
    .about {
      padding-top: 50px;
      padding-bottom: 50px; } }
  .about p {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto; }

.subsidiary {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f8f8f8;
  text-align: center; }
  @media only screen and (max-width: 991px) {
    .subsidiary {
      padding-top: 50px;
      padding-bottom: 50px; } }
  .subsidiary h3 {
    margin-bottom: 50px; }
    @media only screen and (max-width: 991px) {
      .subsidiary h3 {
        margin-bottom: 30px;
        font-size: 22px; } }
  .subsidiary h5 {
    margin-top: 50px; }
    @media only screen and (max-width: 991px) {
      .subsidiary h5 {
        font-size: 16px; } }

.footer {
  padding-top: 100px;
  padding-bottom: 100px; }
  @media only screen and (max-width: 991px) {
    .footer {
      padding-top: 50px;
      padding-bottom: 50px; } }
  .footer h4 {
    margin-bottom: 15px; }
  @media only screen and (max-width: 767px) {
    .footer .contact {
      margin-top: 30px; } }
  .footer .map {
    margin-top: 30px; }
