$primary: #003876;
$black: #444444;
$light-grey: #f8f8f8;
$font: "Trebuchet MS",
Verdana,
Arial,
sans-serif;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-xxl-min: 1920px;
$screen-xxxl-min: 2560px;
$screen-xs-max: $screen-sm-min - 1;
$screen-sm-max: $screen-md-min - 1;
$screen-md-max: $screen-lg-min - 1;
$screen-lg-max: $screen-xl-min - 1;
$screen-xl-max: $screen-xxl-min - 1;
$screen-xxl-max: $screen-xxxl-min - 1;
html,
body {
	font-family: $font;
}

@import "modules/hero";
@import "modules/pitch";
@import "modules/examples";
@import "modules/clients";
@import "modules/about";
@import "modules/products";
@import "modules/services";
@import "modules/contact";
@import "modules/subsidiary";
@import "modules/footer";

// img {
// 	-ms-interpolation-mode: bicubic;
// 	// -ms-interpolation-mode: nearest-neighbor;
// 	image-rendering: -moz-crisp-edges;
// 	image-rendering: -o-crisp-edges;
// 	image-rendering: -webkit-optimize-contrast;
// }