html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    /*font-family: "Trebuchet MS", Verdana, Arial, sans-serif;*/
}


/* Navbar */

#navbar {
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1001;
    position: fixed;
    height: 40px;
    position: fixed;
    border-bottom: 1px solid #003674;
    .navbar-toggle {
        padding: 11px;
        .icon-bar {
            display: block;
            width: 22px;
            height: 2px;
            background-color: #003674;
            border-radius: 1px;
            & + .icon-bar {
                margin-top: 4px;
            }
        }
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    .brand {
        height: 100%;
        padding: 5px;
        display: inline-block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        img {
            height: 100%;
        }
        @media screen and (min-width: 768px) {
            padding: 10px;
            float: left;
            display: block;
            position: static;
            left: auto;
            transform: none;
        }
    }
    #navbar-collapse {
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            display: block;
            font-size: 1.8rem;
            text-align: center;
            background-color: rgba(255, 255, 255, .9);
            height: calc(100vh - 40px);
            padding-top: 20px;
            li {
                display: block;
                font-weight: 300;
                padding: 10px 0;
                a {
                    color: #888;
                    cursor: pointer;
                    text-decoration: none;
                    &:hover,
                    &:visited,
                    &:active {
                        cursor: pointer;
                        text-decoration: none;
                    }
                    @media screen and (min-width: 768px) {
                        color: #fff;
                        -webkit-transition: color .4s ease-out;
                        -moz-transition: color .4s ease-out;
                        -o-transition: color .4s ease-out;
                        transition: color .4s ease-out;
                    }
                }
                &:hover {
                    cursor: pointer;
                    a {
                        color: #003674;
                    }
                }
                &.active a {
                    color: #003674;
                    @media screen and (min-width: 768px) {
                        color: #fff;
                    }
                }
                @media screen and (min-width: 768px) {
                    float: left;
                    padding: 0 15px;
                    font-size: .9rem;
                    height: 100%;
                    display: list-item;
                    font-weight: 400;
                    -webkit-transition: background-color .4s ease-out;
                    -moz-transition: background-color .4s ease-out;
                    -o-transition: background-color .4s ease-out;
                    transition: background-color .4s ease-out;
                }
            }
            @media screen and (min-width: 768px) {
                line-height: 50px;
                height: 100%;
                float: right;
                font-size: 1rem;
                text-align: left;
                text-transform: uppercase;
                background-color: transparent;
                padding-top: 0;
                height: auto;
            }
        }
        @media screen and (min-width: 768px) {
            display: block;
        }
    }
    @media screen and (min-width: 768px) {
        -webkit-transition: background-color .4s ease-out, border-color .4s ease-out;
        -moz-transition: background-color .4s ease-out, border-color .4s ease-out;
        -o-transition: background-color .4s ease-out, border-color .4s ease-out;
        transition: background-color .4s ease-out, border-color .4s ease-out;
        background-color: rgba(255, 255, 255, 0);
        height: 50px;
        border-color: transparent;
        &.active {
            background-color: rgba(255, 255, 255, 1);
            border-color: #003674;
            #navbar-collapse {
                ul {
                    li {
                        a {
                            color: #888;
                        }
                        &.active {
                            background-color: #003674;
                            a {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}


/* Hero */

#hero {
    background-image: url('../img/hero-xs.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    height: 100vh;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #003876;
        opacity: .4;
        z-index: 1;
    }
    .unit {
        color: #fff;
        z-index: 2;
        text-align: center;
        display: inline-block;
        margin: 0 auto;
        padding-top: 40vh;
        .caption {
            font-size: 1.6em;
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 2px;
            position: relative;
            top: 40px;
            opacity: 0;
            -webkit-transition: opacity 1.5s ease-in .3s, top 1s ease-out .3s;
            -moz-transition: opacity 1.5s ease-in .3s, top 1s ease-out .3s;
            -o-transition: opacity 1.5s ease-in .3s, top 1s ease-out .3s;
            transition: opacity 1.5s ease-in .3s, top 1s ease-out .3s;
            &.triggered {
                top: 0;
                opacity: 1;
            }
            @media screen and (min-width: 768px) {
                font-size: 3em;
                letter-spacing: 6px;
            }
        }
    }
    .discover {
        display: inline-block;
        font-size: 1.2em;
        font-weight: 200;
        margin-top: 40px;
        position: relative;
        left: -25px;
        opacity: 0;
        -webkit-transition: opacity 1.5s ease-in .8s, left 1s ease-out .8s;
        -moz-transition: opacity 1.5s ease-in .8s, left 1s ease-out .8s;
        -o-transition: opacity 1.5s ease-in .8s, left 1s ease-out .8s;
        transition: opacity 1.5s ease-in .8s, left 1s ease-out .8s;
        &.triggered {
            left: 0;
            opacity: 1;
        }
        .button {
            padding: 8px;
            border-radius: 1px;
            cursor: pointer;
            -webkit-transition: background-color .1s ease-out;
            -moz-transition: background-color .1s ease-out;
            -o-transition: background-color .1s ease-out;
            transition: background-color .1s ease-out;
            display: inline-block;
            width: 130px;
            &:first-child {
                color: #003876;
                background-color: rgb(255, 255, 255);
                border: 1px solid #fff;
                &:hover {
                    background-color: rgb(235, 235, 235);
                }
                &:active {
                    background-color: rgb(220, 220, 220);
                }
            }
            &:last-child {
                margin-left: 1rem;
                background-color: rgba(255, 255, 255, 0);
                border: 1px solid rgb(255, 255, 255);
                &:hover {
                    background-color: rgba(255, 255, 255, .1);
                }
                &:active {
                    background-color: rgba(255, 255, 255, .2);
                }
            }
            @media screen and (min-width: 768px) {
                padding: 12px 20px;
                width: 160px;
            }
        }
    }
    @media screen and (min-width: 768px) {
        background-image: url('../img/hero-sm.jpg');
    }
    @media screen and (min-width: 992px) {
        background-image: url('../img/hero-md.jpg');
    }
    @media screen and (min-width: 1200px) {
        background-image: url('../img/hero-lg.jpg');
    }
    @media screen and (min-width: 1920px) {
        background-image: url('../img/hero-xl.jpg');
    }
    @media screen and (min-width: 2560px) {
        background-image: url('../img/hero-xxl.jpg');
    }
}


/* Customers */

#customers {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 3rem;
    .img-container {
        padding: 1rem 0;
        position: relative;
        bottom: -40px;
        opacity: 0;
        &.triggered {
            bottom: 0;
            opacity: 1;
        }
        &:first-child {
            -webkit-transition: opacity .6s ease-in .2s, bottom .6s ease-out;
            -moz-transition: opacity .6s ease-in .2s, bottom .6s ease-out;
            -o-transition: opacity .6s ease-in .2s, bottom .6s ease-out;
            transition: opacity .6s ease-in .2s, bottom .6s ease-out;
            & img {
                max-height: 120px;
            }
        }
        &:nth-child(2) {
            -webkit-transition: opacity .6s ease-in .4s, bottom .6s ease-out .2s;
            -moz-transition: opacity .6s ease-in .4s, bottom .6s ease-out .2s;
            -o-transition: opacity .6s ease-in .4s, bottom .6s ease-out .2s;
            transition: opacity .6s ease-in .4s, bottom .6s ease-out .2s;
        }
        &:last-child {
            -webkit-transition: opacity .6s ease-in .6s, bottom .6s ease-out .4s;
            -moz-transition: opacity .6s ease-in .6s, bottom .6s ease-out .4s;
            -o-transition: opacity .6s ease-in .6s, bottom .6s ease-out .4s;
            transition: opacity .6s ease-in .6s, bottom .6s ease-out .4s;
        }
    }
    img {
        max-height: 80px;
        max-width: 300px;
        margin: 0 3rem;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}


/* Products */

#products {
    border-bottom: 1px solid #ddd;
    padding: 4em;
    .title {
        font-size: 3em;
        font-weight: 300;
        margin-bottom: 80px;
        &:after {
            content: "";
            width: 100px;
            height: 1px;
            background-color: #333;
            bottom: -.8em;
            position: relative;
            display: block;
            margin: 0 auto;
        }
    }
    .sub-title {
        font-weight: 300;
        margin-bottom: 30px;
    }
    .product {
        padding: 3em 0;
        border-bottom: 1px solid #ddd;
        .fact {
            margin-top: 30px;
            &:first-child {
                margin: 0;
            }
        }
        .header {
            font-weight: 300;
        }
        .sub-header {
            font-weight: 300;
        }
        img {
            width: 100%;
        }
    }
}
