html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    /*font-family: "Trebuchet MS", Verdana, Arial, sans-serif;*/
}


/* Navbar */

#navbar {
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1001;
    position: fixed;
    height: 50px;
}

#navbar.active {
    background-color: rgba(255, 255, 255, 1);
}

#navbar .brand {
    height: 100%;
    padding: 10px;
    display: block;
    float: left;
}

#navbar .brand img {
    height: 100%;
}

#navbar ul {
    padding: 0;
    margin: 0;
    float: right;
    list-style: none;
    display: block;
    height: 100%;
    line-height: 50px;
}

#navbar li {
    float: left;
    padding: 0 15px;
    font-size: .9rem;
    height: 100%;
}

#navbar.active li.active {
    background-color: #003674;
}

#navbar li:hover {
    cursor: pointer;
}

#navbar li:hover a {
    color: #003674;
}

#navbar li a {
    color: #fff;
}

#navbar li.active a {
    color: #003674;
}

#navbar.active li a {
    color: #888;    
}

#navbar.active li.active a {
    color: #fff;    
}

#navbar li a,
#navbar li a:hover,
#navbar li a:visited,
#navbar li a:active {
    cursor: pointer;
    text-decoration: none;
}

/* Hero */

#hero {
    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    height: 100vh;
    position: relative;
}

#hero:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #003876;
    opacity: .4;
    z-index: 1;
}

#hero .unit {
    color: #fff;
    z-index: 2;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    padding-top: 20%;
}

#hero .caption {
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 6px;
    position: relative;
    top: 40px;
    opacity: 0;
    -webkit-transition: opacity 1.5s ease-in .3s, top 1s ease-out .3s;
    -moz-transition: opacity 1.5s ease-in .3s, top 1s ease-out .3s;
    -o-transition: opacity 1.5s ease-in .3s, top 1s ease-out .3s;
    transition: opacity 1.5s ease-in .3s, top 1s ease-out .3s;
}

#hero .caption.triggered {
    top: 0;
    opacity: 1;
}

#hero .discover {
    display: inline-block;
    font-size: 1.2em;
    font-weight: 200;
    margin-top: 40px;
    position: relative;
    left: -25px;
    opacity: 0;
    -webkit-transition: opacity 1.5s ease-in .8s, left 1s ease-out .8s;
    -moz-transition: opacity 1.5s ease-in .8s, left 1s ease-out .8s;
    -o-transition: opacity 1.5s ease-in .8s, left 1s ease-out .8s;
    transition: opacity 1.5s ease-in .8s, left 1s ease-out .8s;
}

#hero .discover.triggered {
    left: 0;
    opacity: 1;
}

#hero .discover .button {
    padding: 12px 20px;
    border-radius: 1px;
    cursor: pointer;
    -webkit-transition: background-color .1s ease-out;
    -moz-transition: background-color .1s ease-out;
    -o-transition: background-color .1s ease-out;
    transition: background-color .1s ease-out;
    display: inline-block;
    width: 160px;
}

#hero .discover .button:first-child {
    color: #003876;
    background-color: rgb(255, 255, 255);
}

#hero .discover .button:last-child {
    margin-left: 1rem;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgb(255, 255, 255);
}

#hero .discover .button:first-child:hover {
    background-color: rgb(235, 235, 235);
}

#hero .discover .button:last-child:hover {
    background-color: rgba(255, 255, 255, .1);
}

#hero .discover .button:first-child:active {
    background-color: rgb(220, 220, 220);
}

#hero .discover .button:last-child:active {
    background-color: rgba(255, 255, 255, .2);
}


/* Customers */

#customers {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 3rem;
}

#customers .img-container {
    padding: 1rem 0;
    position: relative;
    bottom: -40px;
    opacity: 0;
}

#customers .img-container:first-child {
    -webkit-transition: opacity .6s ease-in .2s, bottom .6s ease-out;
    -moz-transition: opacity .6s ease-in .2s, bottom .6s ease-out;
    -o-transition: opacity .6s ease-in .2s, bottom .6s ease-out;
    transition: opacity .6s ease-in .2s, bottom .6s ease-out;
}

#customers .img-container:nth-child(2) {
    -webkit-transition: opacity .6s ease-in .4s, bottom .6s ease-out .2s;
    -moz-transition: opacity .6s ease-in .4s, bottom .6s ease-out .2s;
    -o-transition: opacity .6s ease-in .4s, bottom .6s ease-out .2s;
    transition: opacity .6s ease-in .4s, bottom .6s ease-out .2s;
}

#customers .img-container:last-child {
    -webkit-transition: opacity .6s ease-in .6s, bottom .6s ease-out .4s;
    -moz-transition: opacity .6s ease-in .6s, bottom .6s ease-out .4s;
    -o-transition: opacity .6s ease-in .6s, bottom .6s ease-out .4s;
    transition: opacity .6s ease-in .6s, bottom .6s ease-out .4s;
}

#customers .img-container.triggered {
    bottom: 0;
    opacity: 1;
}

#customers img {
    max-height: 80px;
    max-width: 300px;
    margin: 0 3rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#customers .img-container:first-child img {
    max-height: 120px;
}


/* Products */

#products {
    border-bottom: 1px solid #ddd;
    padding: 4em;
}

#products .title {
    font-size: 3em;
    font-weight: 300;
    margin-bottom: 80px;
}

#products .title:after {
    content: "";
    width: 100px;
    height: 1px;
    background-color: #333;
    bottom: -.8em;
    position: relative;
    display: block;
    margin: 0 auto;
}

#products .sub-title {
    font-weight: 300;
    margin-bottom: 30px;
}

#products .product {
    padding: 3em 0;
    border-bottom: 1px solid #ddd;
}

#products .product .fact:not(:first-child) {
    margin-top: 30px;
}

#products .product .header {
    font-weight: 300;
}

#products .product .sub-header {
    font-weight: 300;
}

#products .product img {
    width: 100%;
}
