<!DOCTYPE HTML>
<html>

<head>
    {{> head title="Faq" }}
</head>

<body>
    {{> navbar system-status=true}}
    <div class="hero products-and-services">
        <div class="caption">
            <h1>Driftinformation</h1>
        </div>
    </div>
    <div class="system-status">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Vi har för närvarande inga driftstörningar.</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    {{> copyright}}
    <link rel="stylesheet" type="text/css" href="styles/style.min.css">
    <script type="text/javascript" src="scripts/script.min.js"></script>
</body>

</html>