<!DOCTYPE HTML>
<html>

<head>
    {{> head title="Faq" }}
</head>

<body>
    {{> navbar faq=true}}
    <div class="hero products-and-services">
        <div class="caption">
            <h1>FAQ - Vanliga frågor</h1>
        </div>
    </div>
    <div class="faq">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Desktop</h2>
                </div>
            </div>
            <div class="row">
                <div class="accordion col-12">
                    <div class="item">
                        <div class="title">
                            <span>Hur startar jag Desktop?</span>
                        </div>
                        <div class="content">
                            <ol>
                                <li>Logga in i <a href="https://hem.tele10.se/" target="_blank">hem.tele10.se</a> och klicka på Applikationer under Min användare.</li>
                                <li>Välj version för det operativsystem som används.</li>
                                <li>Starta installationsfilen och följ instruktionerna.</li>
                                <li>Logga in med samma uppgifter som du har paå hem.tele10.se.</li>
                            </ol>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">
                            <span>Hur kommer jag igång med Desktop?</span>
                        </div>
                        <div class="content">
                            <p>Det första du måste göra är att berätta för Desktop om du vill ringa direkt med datorn, eller om du använder den som en fjärrkontroll för att skicka samtalen till din fasta telefon/mobiltelefon. Detta görs under <b>Arkiv/Inställningar/Allmänt</b>. Desktop erbjuder här tre möjligheter.</p>
                            <img src="media/images/FAQ-Desktop-1.png" alt="FAQ-Desktop-1.png">
                            <h5>Softphone</h5>
                            <p>Detta alternativ ska du välja om du har ett headset kopplat direkt till datorn som du ringer med. Alternativet <b>Inkommande samtal</b> måste klickas i, annars kan man endast använda datorn för att göra utgående samtal. Om du har ett trådlöst Jabra-headset så hänvisar vi vidare till fliken <b>Jabra</b>.</p>
                            <p>Du måste även gå in på <b>Arkiv/Inställningar/Ljud</b> och välja ditt headset som <i>Mikrofon</i> och <i>Högtalare</i>. Alternativet Extra ringsignalutgång används ifall man till exempel vill låta det ringa i datorns inbyggda högtalare så att man hör att det ringer även om man inte har headsetet på sig.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">
                            <span>Hur konfigurerar jag mitt Jabra-headset?</span>
                        </div>
                        <div class="content">
                            <p>Följ nedanstående steg för koppla ditt headset till Desktop</p>
                            <ol>
                                <li>Koppla in den medföljande USB-kabeln i porten märkt med grå USB-symbol på basen och vidare till valfri USB-port på datorn.</li>
                                <li>Koppla in den medföljande strömadaptern i porten märkt med den gula symbolen på basen och anslut sedan strömadaptern till eluttaget.</li>
                                <li>Välj språk > Svenska. Språket går att justera i efterhand.</li>
                                <li>Följ guiden i basenhetens display. Anslut till en bordstelefon > Nej. Anslut till datortelefon>Ja.</li>
                                <li>Vid uppmaning "Välj dator" bläddrar du nedåt och markerar alternativet "Övrigt".</li>
                                <li>Vill du komma igång med Desktop så snabbt som möjligt klickar du förbi de kommande stegen till du kommer till "Grattis, installationen är klar. Basen startar om för att verkställa inställningarna" Klicka på krysset. Du är nu klar att använda ditt Jabra 9470 till Tele10 Desktop.</li>
                                <li>Starta om Desktop och gå därefter in på Arkiv > Inställningar > Ljud och välj Jabra PRO som mikrofon och högtalare. Ditt nya Jabra 9470 headset är nu klart att användas.</li>
                            </ol>
                            <p>För att ringa med Desktop slår du in numret i <b>Ring/Sök-rutan</b>, eller markera önskad person i kontaktlistan, och tryck <b>Enter</b>. För att utöka din kontaktlista kan du när som helst högerklicka på ett telefonnummer i din samtalslista och välja <i>skapa som kontakt</i>.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">
                            <span>Vilka möjligheter har jag under ett pågående samtal?</span>
                        </div>
                        <div class="content">
                            <ul>
                                <li><img src="media/images/FAQ-Ongoing-Call-Icon-1.png" alt="FAQ-Ongoing-Call-Icon-1.png" class="icon"> Överflytta samtal</li>
                                <li><img src="media/images/FAQ-Ongoing-Call-Icon-2.png" alt="FAQ-Ongoing-Call-Icon-2.png" class="icon"> Sekretessfunktion</li>
                                <li><img src="media/images/FAQ-Ongoing-Call-Icon-3.png" alt="FAQ-Ongoing-Call-Icon-3.png" class="icon"> Pendla samtal till / från mobil</li>
                                <li><img src="media/images/FAQ-Ongoing-Call-Icon-4.png" alt="FAQ-Ongoing-Call-Icon-4.png" class="icon"> Tangentsats</li>
                                <li><img src="media/images/FAQ-Ongoing-Call-Icon-5.png" alt="FAQ-Ongoing-Call-Icon-5.png" class="icon"> Parkera samtal</li>
                                <li><img src="media/images/FAQ-Ongoing-Call-Icon-6.png" alt="FAQ-Ongoing-Call-Icon-6.png" class="icon"> Information om inringande samtal</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">
                            <span>Vad betyder de färgade ikonerna bredvid mina kollegor?</span>
                        </div>
                        <div class="content">
                            <p><div class="box green"></div> Grön ikon indikerar att personen är tillgänglig för telefonsamtal.</p>
                            <p><div class="box yellow"></div> Gul ikon visar att det just nu ringer till personen alternativt att personen ringer ett utgående samtal där motparten ännu inte svarat.</p>
                            <p><div class="box red"></div> Röd ikon betyder att personen just nu talar i telefon.</p>
                            <p><div class="box grey"></div> Grå ikon visas då personen aktiverat en hänvisad profil och inte är tillgänglig för samtal. När du för musen över personens namn visas hur länge profilen kommer vara aktiv samt eventuellt informationsmeddelande lämnat av personen.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">
                            <span>Hur chattar jag med mina kollegor?</span>
                        </div>
                        <div class="content">
                            <h5>Inleda en konversation</h5>
                            <p>Dubbelklicka pä en kollega eller högerklicka och välj <b>Skicka meddelande</b>... för att fä upp ett meddelandefönster. För att skicka via chatten tryck enter pä tangentbordet eller använd knappen <b>Meddelande</b>. Observera att knappen sms endast är synlig om kontakten har ett inlagt mobilnummer. Om nägon besvarar ett meddelande som skickats som sms sä kommer detta inte att synas Desktop.</p>
                            <h5>Chatta med flera kollegor samtidigt</h5>
                            <p>För att involvera flera kollegor i en chattkonversation börja med att ta fram meddelandefönstret för en av kollegorna. Tryck pä knappen <b>Ändra</b> uppe i rutans högra hörn och lägg till önskade kollegor. När du är färdig tryck <b>Tillbaka</b> och börja chatta.</p>
                            <h5>Skapa en gruppchatt</h5>
                            <p>Om en konversation ska pägä under en längre tid eller ska fylla en särskild funktion kan det vara bra att skapa en gruppchatt. När man skapar en gruppchatt fär man namnge konversationen sä att den blir enklare att hitta när man letar i meddelandehistoriken.</p>
                            <p>För att skapa en gruppchatt börja med att fram meddelandefönstret för en kollega. Tryck pä knappen <b>Ändra</b> uppe i rutans högra hörn och lägg till önskade kollegor. Skriv därefter in önskat gruppnamn och tryck pä <b>Skapa grupp</b>.</p>
                            <h5>Sök pä gamla konversationer</h5>
                            <p>Under pratbubbel-ikonen i Desktop samlas all meddelandehistorik. Här kan man söka pä kollegor man haft en konversation med samt chattgrupper. Observera att konversationer med kollegor som du inte tidigare har chattat med alltid skapas i vyn kollegor.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">
                            <span>Hur använder jag min konferens?</span>
                        </div>
                        <div class="content">
                            <h5>Bjuda in till konferens</h5>
                            <p>Genom att högerklicka pä din konferens och välja <b>Bjud in deltagare</b> kan du fä upp en mall för enkel inbjudan till din konferens via e-post. Om du istället högerklickar direkt pä en kontakt i Desktop fär du även möjlighet att skicka inbjudan via sms.</p>
                            <h5>Delta i konferens</h5>
                            <p>Alla som ska delta i din konferens behöver ringa 0770339988 samt ange koden till din konferens. Du kan ocksä nä din egen konferens direkt, utan att behöva ange koden, genom att högerklicka pä dess ikon i Desktop och välja <b>Ring</b>.</p>
                            <h5>Hantera deltagare</h5>
                            <p>Om du högerklickar pä din konferens och för markören över alternativet <b>Anslutna deltagare</b> fär du upp en lista över vilka som är inloggade i din konferens för tillfället. Om du vill stänga konferensen sä att inga fler deltagare kan logga in bockar du ur alternativet <b>Öppen för nya deltagare</b>.</p>
                            <h5>Kostnad för att ringa till konferensen</h5>
                            <p>Vem som helst, oavsett var i världen de befinner sig kan delta i din konferens. För de som ringer internt, inom företaget, är samtalet kostnadsfritt. För övriga deltagare som ringer inom Sverige är kostnaden ett svenskt lokalsamtal till fastnummer.</p>
                            <p>Frän utlandet ringer man +46465900099 för att nä konferensen och kostnaden för detta är som till vilket svenskt fastnummer som helst frän det land man befinner sig i. För ett stort antal länder erbjuder vi även lokala nummer som man kan nä konferensen frän. Detta reducerar kostnaden till ett lokalsamtal inom landet.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">
                            <span>Hur startar jag en videosession?</span>
                        </div>
                        <div class="content">
                            <p>Med hjälp av Desktops videofunktion kan du nu se den du pratar med. Utöver video innehäller funktionen även möjlighet för dig att visa ditt/dina skrivbord.</p>
                            <p>För att starta en videosession men din kollega förutsätter det för det första att ni bäda har en webbkamera ansluten till datorn samt att ni har den senaste versionen av Desktop. Enklaste sättet att säkerställa detta är att ni bäda loggar ut och in igen.</p>
                            <p>Därefter ska din kollega ha en kameraikon till höger om sitt namn i Desktop och du kan dä högerklicka pä kollegan och välja alternativet längst ner i listan, "Starta video...".</p>
                            <img src="media/images/FAQ-Desktop-2.png" alt="FAQ-Desktop-2.png">
                            <p>Observera att video i sig inte skickar nägot ljud. Om du vill prata med kollegan behöver ni alltsä ringa varandra. Har ni bäda profilen Tillgänglig och inte upptagna i telefon sä föreslär Desktop detta automatiskt.</p>
                            <p>En startad session visar fyra knappar i nedre listen utav fönstret:</p>
                            <p>
                                <img src="media/images/FAQ-Desktop-Icon-1.png" alt="FAQ-Desktop-Icon-1.png" class="icon"> Flyttar runt/döljer visningen av motpartens vy
                            </p>
                            <p>
                                <img src="media/images/FAQ-Desktop-Icon-2.png" alt="FAQ-Desktop-Icon-2.png" class="icon"> Aktiverar/avslutar fullskärmsläge
                            </p>
                            <p>
                                <img src="media/images/FAQ-Desktop-Icon-3.png" alt="FAQ-Desktop-Icon-3.png" class="icon"> Växlar till skrivbordsvisning. Vid flera anslutna skärmar kan du här bläddra mellan dessa.
                            </p>
                            <p>
                                <img src="media/images/FAQ-Desktop-Icon-4.png" alt="FAQ-Desktop-Icon-4.png" class="icon"> Växlar till videoläge. Vid flera anslutna kameror kan du här bläddra mellan dessa.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="faq grey">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Mobil</h2>
                </div>
            </div>
            <div class="row">
                <div class="accordion col-12">
                    <div class="item">
                        <div class="title">
                            <span>Hur startar jag Tele10-appen?</span>
                        </div>
                        <div class="content">
                            <h5>Android</h5>
                            <ol>
                                <li>Gä till <a href="https://play.google.com/store/apps/details?id=se.telavox.android.otg">Google play</a> och klicka pä <b>INSTALLERA</b></li>
                                <li>Starta applikationen</li>
                                <li>Logga in med samma uppgifter som du har pä hem.tele10.se</li>
                            </ol>
                            <h5>iPhone</h5>
                            <ol>
                                <li>Gä till <a href="https://itunes.apple.com/us/app/telavox/id302899039?mt=8">App Store</a> och sök pä Tele10. I normalfallet är appen den översta sökträffen.</li>
                                <li>Starta applikationen</li>
                                <li>Logga in med samma uppgifter som du har pä hem.tele10.se</li>
                            </ol>
                            <img src="media/images/FAQ-Mobile-1.png" alt="FAQ-Mobile-1.png">
                            <img src="media/images/FAQ-Mobile-2.png" alt="FAQ-Mobile-2.png">
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">
                            <span>Hur gör jag för att ringa med Tele10-appen?</span>
                        </div>
                        <div class="content">
                            <p>För att ringa till en kollega eller en kontakt i appens adressbok kan man använda sökrutan för att leta upp kontakten. Ring genom att trycka pä telefonikonen till höger om namnet. Det gär även att ringa genom att ange nummer i sökrutan och trycka pä telefonikonen.</p>
                            <img src="media/images/FAQ-Mobile-3.png" alt="FAQ-Mobile-3.png">
                            <img src="media/images/FAQ-Mobile-4.png" alt="FAQ-Mobile-4.png">
                            <p>Varje gäng man ringer kommer appen att fräga vilken <b>ringmetod</b> man önskar använda. Om man önskar undvika denna fräga är det möjligt att ställa in en specifik ringmetod som alltid används när man ringer via appen. Tryck dä pä kugghjulsikonen längst nere till höger och välj <b>ringmetod</b>.</p>
                            <img src="media/images/FAQ-Mobile-5.png" alt="FAQ-Mobile-5.png">
                            <img src="media/images/FAQ-Mobile-6.png" alt="FAQ-Mobile-6.png">
                            <img src="media/images/FAQ-Mobile-7.png" alt="FAQ-Mobile-7.png">
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">
                            <span>Vad betyder de olika ringmetoderna?</span>
                        </div>
                        <div class="content">
                            <p>De olika ringmetoderna fyller olika funktioner beroende pä vilken typ av användare man är. Du som har Tele10 som mobiloperatör kan med fördel använda ringmetoderna när du befinner dig utomlands. Inom Sverige behöver du tack vare den fullständiga mobila integrationen med växeln ej fundera över vald ringmetod.</p>
                            <p>För den som har en annan mobiloperatör än Tele10 blir ringmetoden avgörande för ifall samtalet gär genom växelsystemet eller ej. Samtliga metoder förutom ring direkt gör att samtalet hanteras av växeln sä att t ex korrekt nummervisning kan presenteras.</p>
                            <p><b>Ring direkt</b> - Ger samma effekt som att ringa via telefonens egna adressbok.</p>
                            <p><b>Ring via växeln</b> - Mobilen ringer upp växelsystemet som i sin tur ringer upp valt nummer.</p>
                            <p><b>Ring mig</b> - Appen anropar växelsystemet som ringer till din mobil. När detta samtal besvarats ringer växeln upp valt nummer. Detta alternativ kräver tillgäng till internet i uppstartsskedet. Dataförbrukningen är dock minimal.</p>
                            <p><b>VoIP</b> - Samtalet sker över internet. Alternativet kräver en relativt god uppkoppling mot internet. Ifall man befinner sig utomlands och är uppkopplad mot WiFi är detta ett väldigt billigt alternativ dä samtalstaxan blir den samma som om man befann sig inom Sveriges gränser.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">
                            <span>Hur överflyttar jag ett samtal?</span>
                        </div>
                        <div class="content">
                            <p>Under ditt pägäende samtal gär du in i appen och trycker pä telefonluren till höger om din kollegas namn i listan. Du kommer dä att presenteras med tvä alternativ – <b>Aviserad</b> och <b>Direkt</b>.</p>
                            <p>äljer du <b>Aviserad</b> fär du själv först chans att prata med din kollega medan den som har ringt dig fär höra väntmusik. För att fullfölja överflyttningen välj <b>Genomför</b>. Önskar du istället ätergä till det ursprungliga samtalet tryck <b>Avbryt</b>.</p>
                            <p>Vid <b>direkt</b> överflyttning kopplas inringaren till kollegan, som inte kommer veta att inringaren har blivit kopplad via dig, och du blir äter tillgänglig.</p>
                            <img src="media/images/FAQ-Mobile-8.png" alt="FAQ-Mobile-8.png">
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">
                            <span>Hur aktiverar jag mina profiler?</span>
                        </div>
                        <div class="content">
                            <p>Högst upp pä skärmen hittar du information om vilken profil du har aktiverad för tillfället. Tryck pä den aktiverade profilen för att fä upp en lista över dina profiler. Trycker du direkt pä den gröna eller grä figuren i vänstermarginalen aktiveras profilen enligt standardlängd. Trycker du istället pä i:et till höger om figuren fär du möjlighet att ställa in hur länge du önskar att profilen ska vara aktiv – <b>Tills vidare</b> eller till angiven sluttid.</p>
                            <img src="media/images/FAQ-Mobile-9.png" alt="FAQ-Mobile-9.png">
                            <img src="media/images/FAQ-Mobile-10.png" alt="FAQ-Mobile-10.png">
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">
                            <span>Vad betyder de olika färgade cirklarna bredvid mina kollegors aktiva profiler?</span>
                        </div>
                        <div class="content">
                            <p><div class="box green"></div> Grön cirkel indikerar att personen är tillgänglig för telefonsamtal.</p>
                            <p><div class="box yellow"></div> Gul cirkel visar att det just nu ringer till personen alternativt att personen ringer ett utgäende samtal där motparten ännu inte svarat.</p>
                            <p><div class="box red"></div> Röd cirkel betyder att personen just nu talar i telefon.</p>
                            <p><div class="box grey"></div> Grä cirkel visas dä personen aktiverat en hänvisad profil och inte är tillgänglig för samtal.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">
                            <span>Hur använder jag min konferens?</span>
                        </div>
                        <div class="content">
                            <h5>Bjuda in till konferens</h5>
                            <p>I listan över era växelnummer har du tillgäng till din egna konferens. Genom att trycka pä konferensen och välja bjud in deltagare kan du fä upp en mall för enkel inbjudan till din konferens via e-post, sms eller kalenderinbjudan.</p>
                            <h5>Delta i konferens</h5>
                            <p>Alla som ska delta i din konferens behöver ringa 0770339988 samt ange koden till din konferens. Du kan ocksä nä din egen konferens direkt, utan att behöva ange koden, genom att trycka pä telefonluren till höger om din konferens.</p>
                            <h5>Hantera deltagare</h5>
                            <p>Om du trycker pä din konferens fär du upp en lista över vilka som är inloggade i din konferens för tillfället. Om du vill stänga konferensen sä att inga fler deltagare kan logga in stänger du bara av alternativet <b>Öppen för nya deltagare</b>.</p>
                            <h5>Kostnad för att ringa till konferensen</h5>
                            <p>Vem som helst, oavsett var i världen de befinner sig kan delta i din konferens. För de som ringer internt, inom företaget, är samtalet kostnadsfritt. För övriga deltagare som ringer inom Sverige är kostnaden ett svenskt lokalsamtal till fastnummer. Frän utlandet ringer man +46465900099 för att nä konferensen och kostnaden för detta är som till vilket svenskt fastnummer som helst frän det land man befinner sig i. För ett stort antal länder erbjuder vi även lokala nummer som man kan nä konferensen frän. Detta reducerar kostnaden till ett lokalsamtal inom landet.</p>
                            <img src="media/images/FAQ-Mobile-11.png" alt="FAQ-Mobile-11.png">
                            <img src="media/images/FAQ-Mobile-12.png" alt="FAQ-Mobile-12.png">
                            <img src="media/images/FAQ-Mobile-13.png" alt="FAQ-Mobile-13.png">
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">
                            <span>Vad finns det mer för funktioner i Tele10-appen?</span>
                        </div>
                        <div class="content">
                            <p><b>Öppettider</b> – Som administratör kan du reglera era kö- och talsvarsnummer direkt i appen. Leta upp önskat växelnummer i listan och tryck pä det. Du fär nu upp en lista med de växellägen som finns skapade för växeltjänsten och med ett enkelt tryck ges du möjlighet att aktivera nägot av dessa.</p>
                            <img src="media/images/FAQ-Mobile-14.png" alt="FAQ-Mobile-14.png">
                            <p><b>Pendla</b> – Under ett pågäende samtal har du möjlighet att förflytta samtalet till/från din fasta anknytning. Detta gör du genom att under samtalets gäng öppna appen och trycka pä pendla.</p>
                            <img src="media/images/FAQ-Mobile-15.png" alt="FAQ-Mobile-15.png">
                            <p><b>Meddelande om tillgänglig kollega</b> – Om en kollega är otillgänglig eller upptagen i telefon kan man trycka pä kollegan och välja <b>meddela mig när personen blir tillgänglig</b>. När personen äter är tillgänglig fär du en notis i appen med ett erbjudande om att ringa upp personen.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="faq">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Nätverk</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="documents/network.pdf" class="download" download>Ladda ned PDF</a>
                </div>
            </div>
        </div>
    </div>
    {{> copyright}}
    <link rel="stylesheet" type="text/css" href="styles/style.min.css">
    {{> footer-scripts}}
</body>

</html>