<!DOCTYPE HTML>
<html>

<head>
	{{> head title="Hem" }}
</head>

<body>
	{{> navbar}}
	<div class="fullscreen-hero">
		<video playsinline autoplay muted loop preload="auto">
			<source src="media/videos/index-hero.mp4" type="video/mp4">
			<p class="vjs-no-js">
				To view this video please enable JavaScript, and consider upgrading to a web browser that
				<a href="http://videojs.com/html5-video-support/" target="_blank">
					supports HTML5 video
				</a>
			</p>
		</video>
		<div class="caption animated delay-500ms">
			<h1>Molnbaserad v&auml;xel,<br>fast eller mobil.</h1>
			<a href="/kontakt" class="btn btn-primary">Kontakta oss</a>
		</div>
	</div>
	<div class="pitch">
		<div class="container">
			<div class="row no-gutters">
				<div class="message xs-col-12">
					<h2 class="title">En v&auml;xel f&ouml;r alla!</h2>
					<p>Vi erbjuder v&auml;xell&ouml;sningar d&auml;r det g&aring;r att kombinera fasta och mobila enheter samt softphones. V&aring;ra v&auml;xlar inneh&aring;ller i princip alla v&auml;xelfunktioner och tj&auml;nster som beh&ouml;vs.</p>
				</div>
				<div class="col-xs-12 col-md-8 offset-md-2 col-lg-12 offset-lg-0">
					<div class="row no-gutters">
						<div class="box col-xs-12 col-lg-4">
							<div class="icon">
								<i class="fa fa-phone" aria-hidden="true"></i>
							</div>
							<div class="text">
								<div>
									<h3 class="title">Växeltjänster</h3>
									<p>T.ex. koppla vidare, nummerpresentation, direktval, r&ouml;stbrevl&aring;dor mm.</p>
								</div>
							</div>
						</div>
						<div class="box col-xs-12 col-lg-4 delay-300ms">
							<div class="icon">
								<img src="media/images/dial-pad.png" alt="Dial pad">
							</div>
							<div class="text">
								<div>
									<h3 class="title">IVR knappval</h3>
									<p>T.ex. tryck 1 f&ouml;r att prata med en s&auml;ljare, tryck 2 f&ouml;r service osv.</p>
								</div>
							</div>
						</div>
						<div class="box col-xs-12 col-lg-4 delay-600ms">
							<div class="icon">
								<img src="media/images/queue.png" alt="Queue">
							</div>
							<div class="text">
								<div>
									<h3 class="title">ACD Köfunktion</h3>
									<p>Avancerade k&ouml;funktioner som kan l&auml;mna meddelande om plats i k&ouml;, v&auml;ntetid mm.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="examples">
		<div class="container">
			<h1>Tele10 molnv&auml;xel</h1>
			<p class="sub-header">Tele10 Molnväxel &auml;r en kostnadseffektiv och funktionell IP-baserad v&auml;xeltj&auml;nst som via Internet kopplar samman era kontor, distansarbetsplatser eller medarbetare som reser mycket. V&auml;xeltj&auml;nsten &auml;r anpassad f&ouml;r alla typer av f&ouml;retag.</p>
		</div>
		<img src="media/images/showcase.png" alt="Showcase" class="showcase fadeIn animated">
		<div class="container">
			<div class="more-info">
				<p>V&auml;xelpaketet F&ouml;retag Tele10 UC &auml;r en v&auml;xell&ouml;sning d&auml;r det g&aring;r att kombinera fasta och mobila enheter samt softphones.
					<br />Tele10 UC inneh&aring;ller i princip alla v&auml;xelfunktioner och tj&auml;nster som beh&ouml;vs.</p>
				{{!-- <ul>
					<li class="fadeInLeft animated delay-2s">
						<i class="fa fa-check" aria-hidden="true"></i> Bastj&auml;nster: T.ex. koppla vidare, nummerpresentation, direktval, r&ouml;stbrevl&aring;dor mm.
					</li>
					<li class="fadeInLeft animated delay-3s">
						<i class="fa fa-check" aria-hidden="true"></i> Marknadens b&auml;sta administrationsgr&auml;nssnitt d&auml;r v&auml;xeln l&auml;tt kan konfigureras.
					</li>
					<li class="fadeInLeft animated delay-4s">
						<i class="fa fa-check" aria-hidden="true"></i> Till&auml;ggstj&auml;nster: IVR knappval, t.ex. tryck 1 f&ouml;r att prata med en s&auml;ljare, tryck 2 f&ouml;r service osv.
					</li>
				</ul> --}}
			</div>
		</div>
	</div>
	<div class="clients">
		<div class="container">
			<h1>Nöjda kunder</h1>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-3 logo">
					<img src="media/images/marstrands_havshotell-bw.png" alt="Marstrands Havshotell">
				</div>
				<div class="col-xs-12 col-md-9 quote">
					<p>
						<i>"Tele10 erbjöd det alternativ som var mest framtids säkrat och flexibelt samtidigt som offerten låg mycket bra till rent ekonomiskt."</i>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-3 logo">
					<img src="media/images/moel.png" alt="Moel">
				</div>
				<div class="col-12 col-md-9 quote">
					<p>
						<i>"En mångårig och trygg helhetsleverantör som vuxit över tid. De är lyhörda, flexibla och ger personlig service. Supporten har snabb återkoppling och ger oss precis den hjälp som vi behöver. Jag skulle definitivt rekommendera Tele10."</i>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-md-3 logo">
					<img src="media/images/world_of_golf-bw.png" alt="World of Golf">
				</div>
				<div class="col-xs-12 col-md-9 quote">
					<p>
						<i>"Betydligt mycket lättare administration, allt i ett system och bättre hantering av inkommande samtal i en flexibel miljö. Tele10 som helhetsleverantör är mycket seriös och lämnar inte förrän allt funkar som förväntat."</i>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-3 logo">
					<img src="media/images/koberg_golfklubb-bw.png" alt="Koberg Golfklubb">
				</div>
				<div class="col-xs-12 col-md-9 quote">
					<p>
						<i>"Du får nu information på ett helt annat sätt när du kontaktar oss via telefon. Tele10 har anpassat en mycket smidig och kraftfull lösning just för våra behov."</i>
					</p>
				</div>
			</div>
		</div>
	</div>
	{{> copyright}}
	<link rel="stylesheet" type="text/css" href="styles/style.min.css">
	<link rel="stylesheet" type="text/css" href="styles/animate.min.css">
	{{> footer-scripts}}
</body>

</html>
