<!DOCTYPE HTML>
<html>

<head>
    {{> head title="Kontakt" }}
</head>

<body>
    {{> navbar contact=true}}
    <div class="hero contact">
        <div class="caption">
            <h1>Kontakt</h1>
        </div>
    </div>
    <div class="preamble">
        <div class="container">
            <div class="row no-gutters">
                <div class="message col-12">
                    <h2 class="title">Kontakta oss</h2>
                    <p>Vi svarar g&auml;rna p&aring; dina fr&aring;gor, fyll i ditt &auml;rende i formul&auml;ret nedan.</p>
                    <p>Du kan &auml;ven kontakta oss direkt p&aring;
                        <a class="contact-method" href="mailto:info@tele10.se">info@tele10.se</a> eller via telefon p&aring;
                        <a class="contact-method" href="tel:0772101000">0772 - 10 10 00</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="contact">
        <div class="container">
            <div class="row no-gutter">
                <div class="col-12 col-lg-8 offset-lg-2">
                    <form method="post" action="email.php">
                        <div class="row">
                            <div class="form-group col-12 col-lg-5">
                                <label for="name">Ditt namn</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Namn...">
                            </div>
                            <div class="form-group col-12 col-lg-7">
                                <label for="email">Din e-postadress</label>
                                <input type="email" class="form-control" name="email" id="email" aria-describedby="emailInfo" placeholder="E-postadress...">
                                <small id="emailInfo" class="form-text text-muted">Vi kommer aldrig l&auml;mna ut din e-postadress till tredjepart.</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="subject">Vad g&auml;ller ditt &auml;rende?</label>
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="&Auml;mne...">
                        </div>
                        <div class="form-group">
                            <label for="message">Meddelande</label>
                            <textarea class="form-control" id="message" name="message" rows="3" placeholder="Meddelande..."></textarea>
                        </div>
                        <!-- <div class="form-group">
                            <div class="g-recaptcha" data-sitekey="6LeboCAUAAAAAAeAQknB8cE6besil24SKIBs2HXK"></div>
                        </div> -->
                        <div class="success"></div>
                        <div class="error"></div>
                        <button type="submit" class="btn btn-outline-primary">Skicka</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="map col-md-8">
                    <iframe width="100%" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyACc4iV32BvIR2T-k08Lqq5op0A8fZtueg&q=Olof+Asklunds+gata+8,+421+30" allowfullscreen></iframe>
                </div>
                <div class="contact-footer col-12 col-md-4">
                    <h4>Kontakt</h4>
                    <address>
                        <div>
                            <strong>Tele10 AB</strong>
                        </div>
                        <div>Box 2154</div>
                        <div>421 02 V&auml;stra Fr&ouml;lunda</div>
                        <div>
                            Telefon:
                            <a href="tel:0772101000">0772 - 10 10 00</a>
                        </div>
                        <div>
                            E-post:
                            <a href="mailto:info@tele10.se">info@tele10.se</a>
                        </div>
                    </address>
                </div>
            </div>
        </div>
    </div>
    {{> copyright}}
    <link rel="stylesheet" type="text/css" href="styles/style.min.css">
    {{> footer-scripts}}
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js"></script>
</body>

</html>
