<!DOCTYPE HTML>
<html>

<head>
	{{> head title="Mobiltelefoni" }}
</head>

<body>
	{{> navbar mobiltelefoni=true}}
	<div class="hero products-and-services">
		<div class="caption">
			<h1>Mobiltelefoni</h1>
		</div>
	</div>
	<div class="preamble">
		<div class="container">
			<div class="row no-gutters">
				<div class="message col-12">
					<h2 class="title">Lorem Ipsum</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas congue, tortor quis efficitur semper, dolor ex pulvinar erat, non consectetur risus risus vitae metus.</p>
					<p>Curabitur pellentesque dui ex, cursus blandit nulla vestibulum ut. Aliquam eget gravida odio.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="products grey">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-12 col-md-8 offset-md-2 product">
					<div class="row no-gutters text-center">
						<div class="col-12">
							<img src="media/images/product-mobil.png" alt="Tele10 Mobil">
						</div>
						<div class="col-12 text-container">
							<h2 class="title">Tele10 Mobil</h2>
							<h5 class="sub-title">V&auml;lj den typ av mobiltelefon som passar dig.</h5>
							<p>Tele10 är en fristående virtuell mobiloperatör som opererar i Telias mobila nät. Med ett välkänt mobilnät samt en snabb och flexibel organisation har vi de bästa förutsättningarna att hjälpa dig i din mobila vardag. Med Appen Tele10 kan även externa mobiler MEXas.</p>
							<p class="info">Ladda ned appen <strong>Tele10</strong> så f&aring;r du alla v&auml;xelns funktioner direkt i mobilen.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="mobile" class="services">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-3">
					<img src="media/images/services-mobile.png" alt="Services Mobile" class="phone">
				</div>
				<div class="col-12 col-lg-9">
					<h2 class="title">fristående Operatör</h2>
					<p>Tele10 är en fristående virtuell mobiloperatör som opererar i Telias mobila nät.<br>Med ett välkänt mobilnät samt en snabb och flexibel organisation har vi de bästa förutsättningarna att hjälpa dig i din mobila vardag.</p>
					<p>Med Appen Tele10 kan även externa mobiler MEXas.</p>
					<img src="media/images/sim-card.png" alt="Tele10 Sim card" class="sim-card">
				</div>
			</div>
		</div>
	</div>
	{{> copyright}}
	<link rel="stylesheet" type="text/css" href="styles/style.min.css">
	<link rel="stylesheet" type="text/css" href="styles/animate.min.css">
	{{> footer-scripts}}
</body>

</html>
