<!DOCTYPE HTML>
<html>

<head>
	{{> head title="Molnväxel" }}
</head>

<body>
	{{> navbar molnvaxel=true}}
	<div class="hero products-and-services">
		<div class="caption">
			<h1>Molnväxel</h1>
		</div>
	</div>
	<div class="preamble">
		<div class="container">
			<div class="row no-gutters">
				<div class="message col-12">
					<h2 class="title">En v&auml;xel f&ouml;r alla!</h2>
					<p><strong>Tele10 molnväxel</strong> &auml;r en kostnadseffektiv och funktionell IP-baserad v&auml;xeltj&auml;nst f&ouml;r att via internet koppla samman flera kontor, distansarbetsplatser eller medarbetare som reser mycket.</p>
					<p>V&auml;xeltj&auml;nsten &auml;r anpassad f&ouml;r alla typer av f&ouml;retag.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="products grey multiple">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-12 col-md-6 product">
					<div class="row no-gutters text-center">
						<div class="col-12">
							<img src="media/images/product-desktop.png" alt="Tele10 UC / Softphone">
						</div>
						<div class="col-12 text-container">
							<h2 class="title">Tele10 UC / Softphone</h2>
							<h5 class="sub-title">V&auml;lj softphone som passar dig.</h5>
							<p class="info">Tele10 Desktop UC en applikation som revolutionerar arbetet – Sätt dina hänvisningar och ring direkt från datorn. Se dina kollegors status, ring, chatta, SMS:a eller maila dem. Starta ett videosamtal, lyssna på röstsvar, se samtalslistor, allt finns i Tele10 Desktop UC.</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 product">
					<div class="row no-gutters text-center">
						<div class="col-12">
							<img src="media/images/service-phone.png" alt="Tele10 Fast">
						</div>
						<div class="col-12 text-container">
							<h2 class="title">Tele10 Fast</h2>
							<h5 class="sub-title">V&auml;lj den typ av fasttelefon som passar dig.</h5>
							<p class="info">Du kan givetvis ansluta fast bordstelefon eller Dect till din Tele10 anknytning. Det finns ett flertal olika modeller att välja på.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="services-preamble preamble">
		<div class="container">
			<div class="row no-gutters">
				<div class="message col-12">
					<h2 class="title">Fler funktioner!</h2>
					<p>Till v&auml;xell&ouml;sningarna finns det m&ouml;jlighet att koppla ytterligare funktionalitet i form av olika till&auml;ggstj&auml;nster.</p>
					<p>Med till&auml;ggstj&auml;nsterna kan du skapa en unik kommunikationsl&ouml;sning som &auml;r anpassad f&ouml;r just ditt f&ouml;retag och specifika &ouml;nskem&aring;l.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="services grey">
		<div class="container">
			<div class="row no-gutters service text-center text-lg-left">
				<div class="col-12 col-lg-8 text-container">
					<h2 class="title">Tele10 H&auml;nvisning</h2>
					<p class="info">Med Tele10 h&auml;nvisning kan varje medarbetare v&auml;lja att h&auml;nvisa sig vid lunch eller m&ouml;te &aring;ter klockan osv. Detta styr &auml;ven tillg&auml;nglighet f&ouml;r svarsgrupper.</p>
				</div>
				<div class="col-12 col-lg-4 text-lg-right bottom-aligned">
					<img src="media/images/service-hanvisning.png" alt="Tele10 H&auml;nvisning">
				</div>
			</div>
		</div>
	</div>
	<div class="services">
		<div class="container">
			<div class="row no-gutters service text-center text-lg-left">
				<div class="col-12 col-lg-4">
					<img src="media/images/service-softphone.png" alt="Tele10 CRM">
				</div>
				<div class="col-12 col-lg-8 text-container">
					<h2 class="title">Click to call / CRM Integration</h2>
					<p class="info">Med applikationen <strong>click to call</strong> kan anv&auml;ndaren markera ett nummer i sin dator och direkt ringa upp det genom ett valbart snabbkommando.</p>
					<p class="info">Programmet har ocks&aring; st&ouml;d f&ouml;r s&aring; kallade <strong>call to</strong>-l&auml;nkar p&aring; webbsidor eller i CRM-system, vilket inneb&auml;r att dessa nummer blir klickbara f&ouml;r direkt uppringning.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="multiple services grey">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-12 col-lg-6 service">
					<div class="row no-gutters text-center">
						<div class="col-12">
							<img src="media/images/service-phone.png" alt="Tele10 Phone">
						</div>
						<div class="col-12 text-container">
							<h2 class="title">Tele10 Personlig telefonist</h2>
							<p class="info">Tele10 personlig telefonist &auml;r en mycket smart funktion f&ouml;r att samtal ska hamna p&aring; r&auml;tt st&auml;lle.</p>
							<p class="info">Detta m&ouml;jligg&ouml;rs genom att anv&auml;ndaren kan ha olika meddelande vid upptagen och ej tillg&auml;nglig, d&auml;r uppringaren f&aring;r m&ouml;jlighet att g&ouml;ra ett aktivt val beroende p&aring; status, t.ex. kopplas till telefonist, v&auml;nta kvar vid upptaget eller l&auml;mna ett meddelande.</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-6 service">
					<div class="row no-gutters text-center">
						<div class="col-12">
							<img src="media/images/service-calendar.png" alt="Tele10 Calendar">
						</div>
						<div class="col-12 text-container">
							<h2 class="title">Tele10 Kalenderintegration</h2>
							<p class="info">Med Tele10 Kalenderintegration beh&ouml;ver du inte l&auml;ngre manuellt knappa in n&aring;gra h&auml;nvisningar.</p>
							<p class="info">Kalendern aktiverar och inaktiverar ist&auml;llet dina &ouml;nskade h&auml;nvisningar helt automatiskt.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="services">
		<div class="container">
			<div class="row no-gutters service text-center text-lg-left">
				<div class="col-12 col-lg-4">
					<img src="media/images/services-statistics.png" alt="Statistik">
				</div>
				<div class="col-12 col-lg-8 text-container">
					<h2 class="title">Statistik</h2>
					<p class="info">När ringer era kunder er mest? Hur många agenter har ni inloggade på er kö under den tiden? Vilka agenter har ringt flest utgående samtal? Hur många samtal går ni miste om på grund av upptaget-ton eller för långa väntetider?</p>
				</div>
			</div>
		</div>
	</div>
	<div class="services conference">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-12 col-lg-8 offset-lg-2 service">
					<div class="row no-gutters text-center">
						<div class="col-12 text-container">
							<h2 class="title">Konferenstjänst</h2>
							<p class="info">Telefonmöten underlättar bra beslutsfattande, reducerar rese- och logikostnader, sparar värdefull tid och är miljösmart. För dig som Tele10-användare är konferenstjänsten helt kostnadsfri. Externa nationella mötesdeltagare ringer in på 0770339988 och anger den unika koden till din konferens. För att göra det enkelt och billigare för era utländska kontakter att delta i din konferens erbjuder Tele10 lokala konferensnummer i 41 länder.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{> copyright}}
	<link rel="stylesheet" type="text/css" href="styles/style.min.css">
	<link rel="stylesheet" type="text/css" href="styles/animate.min.css">
	{{> footer-scripts}}
</body>

</html>
