<!DOCTYPE HTML>
<html>

<head>
	{{> head title="Softphone" }}
</head>

<body>
	{{> navbar softphone=true}}
	<div class="hero products-and-services">
		<div class="caption">
			<h1>Softphone</h1>
		</div>
	</div>
	<div class="preamble">
		<div class="container">
			<div class="row no-gutters">
				<div class="message col-12">
					<h2 class="title">Lorem Ipsum</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas congue, tortor quis efficitur semper, dolor ex pulvinar erat, non consectetur risus risus vitae metus.</p>
					<p>Curabitur pellentesque dui ex, cursus blandit nulla vestibulum ut. Aliquam eget gravida odio.</p>
				</div>
			</div>
		</div>
	</div>
	{{> copyright}}
	<link rel="stylesheet" type="text/css" href="styles/style.min.css">
	<link rel="stylesheet" type="text/css" href="styles/animate.min.css">
	{{> footer-scripts}}
</body>

</html>