.nav {
	position: fixed;
	background-color: #fff;
	width: 100%;
	z-index: 100;
	border-bottom: 1px solid $primary;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
	top: 0;
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		&.active .item {
			display: block;
		}
	}
	.item {
		float: left;
		color: #000;
		padding: 17px 8px 15px;
		font-size: 18px;
		position: relative;
		display: none;
		width: 100%;
		&.dropdown {
			padding: 0 8px;
			@media only screen and (min-width: $screen-lg-min) {
				padding: 17px 8px 15px;
			}
			.item {
				margin-left: -8px;
				@media only screen and (min-width: $screen-lg-min) {
					margin-left: 0;
				}
			}
			span {
				display: none;
				@media only screen and (min-width: $screen-lg-min) {
					display: inline;
				}
			}
		}
		@media only screen and (min-width: $screen-lg-min) {
			display: block;
			width: auto;
		}
		@media only screen and (min-width: $screen-lg-min) {
			&:hover {
				cursor: pointer;
				color: $primary;
			}
			&:not(.dropdown):hover {
				border-bottom: 1px solid $primary;
				padding-bottom: 14px;
			}
		}
		&.active {
			@media only screen and (max-width: $screen-md-max) {
				border-left: 2px solid $primary;
				padding-left: 6px;
			}
			@media only screen and (min-width: $screen-lg-min) {
				border-bottom: 2px solid $primary;
				padding-bottom: 13px;
				&:hover {
					border-bottom: 2px solid $primary;
					padding-bottom: 13px;
				}
			}
		}
		@media only screen and (min-width: $screen-lg-min) {
			&.dropdown {
				.item {
					&:hover {
						border-bottom: none;
						padding-bottom: 15px;
					}
				}
				&:hover {
					color: $primary;
					ul {
						display: block;
					}
				}
				&.right {
					float: right;
					ul {
						right: 0;
						text-align: right;
						.item:hover {
							border-right: 2px solid $primary;
							padding-right: 6px;
						}
					}
				}
				&:not(.right) {
					ul {
						left: 0;
						.item:hover {
							border-left: 2px solid $primary;
							padding-left: 6px;
						}
					}
				}
				ul {
					display: none;
					position: absolute;
					background-color: #fff;
					border-top: 1px solid $primary;
					box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
					top: 59px;
					.item {
						width: 100%;
					}
				}
			}
		}
		a {
			color: #000;
			text-decoration: none;
			&:active,
			&:visited {
				color: #000;
			}
		}
	}
	.brand {
		display: block;
		float: left;
		padding-top: $navbar-brand-padding-top;
		padding-bottom: $navbar-brand-padding-bottom;
		a,
		img {
			display: block;
			height: $navbar-brand-height;
		}
	}
	.button {
		position: absolute;
		top: 17px;
		right: 15px;
		background-image: url(../media/images/menu.png);
		background-repeat: no-repeat;
		background-size: 100% auto;
		height: 20px;
		width: 28px;
		@media only screen and (min-width: $screen-lg-min) {
			display: none;
		}
	}
}
