<nav class="nav">
	<div class="container">
		<ul>
			<li class="brand">
				<a href="/">
					<img src="media/images/logo.png" alt="Tele10">
				</a>
			</li>
			<li class="item dropdown">
				<span>Våra tjänster</span>
				<ul>
					<li>
						<a class="item{{#if molnvaxel}} active{{/if}}" href="/molnvaxel">Molnväxel</a>
					</li>
					<li>
						<a class="item{{#if mobiltelefoni}} active{{/if}}" href="/mobiltelefoni">Mobiltelefoni</a>
					</li>
					<li>
						<a class="item{{#if fasttelefoni}} active{{/if}}" href="/fasttelefoni">Fasttelefoni</a>
					</li>
					<li>
						<a class="item{{#if softphone}} active{{/if}}" href="/softphone">Softphone</a>
					</li>
					<li>
						<a class="item{{#if integrationer}} active{{/if}}" href="/integrationer">Integrationer</a>
					</li>
					<li>
						<a class="item{{#if fler-funktioner}} active{{/if}}" href="/fler-funktioner">Fler funktioner</a>
					</li>
				</ul>
			</li>
			<li>
				<a class="item{{#if om-tele10}} active{{/if}}" href="/om-tele10">Om Tele10</a>
			</li>	
			<li>
				<a class="item{{#if faq}} active{{/if}}" href="/faq">FAQ</a>
			</li>
			<li>
				<a class="item{{#if system-status}} active{{/if}}" href="/driftinformation">Driftinformation</a>
			</li>
			<li>
				<a class="item" href="documents/tele10-gdpr.pdf">GDPR</a>
			</li>
			<li>
				<a class="item" href="https://www.shop.tele10.se/">Shop</a>
			</li>
			<li class="float-right d-flex h-100 align-items-center">
				<a class="btn btn-primary" href="/kontakt">Kontakt</a>
			</li>
			<li class="item right dropdown mr-3">
				<span>Logga in</span>
				<ul>
					<li>
						<a class="item" href="https://hem.tele10.se/">Hem.tele10.se</a>
					</li>
				</ul>
			</li>
			<li class="float-right mr-3">
				<a class="item" href="https://www.instagram.com/tele10ab/" target="_blank"><img src="media/images/instagram-icon.png" width="24"></a>
			</li>
			<li class="float-right mr-3">
				<a class="item" href="https://www.facebook.com/tele10.se/" target="_blank"><img src="media/images/facebook-icon.png" width="24"></a>
			</li>
		</ul>
		<div class="button"></div>
	</div>
</nav>