<nav class="nav">
	<div class="container">
		<ul>
			<li class="brand">
				<a href="/">
					<img src="media/images/logo.png" alt="Tele10">
				</a>
			</li>
			<li>
				<a class="item{{#if om-tele10}} active{{/if}}" href="/om-tele10">Om Tele10</a>
			</li>
			<li>
				<a class="item{{#if tele10-molnvaxel}} active{{/if}}" href="/tele10-molnvaxel">Tele10 molnväxel</a>
			</li>
			<li>
				<a class="item" href="/tele10-molnvaxel#mobile">Mobiltelefoni</a>
			</li>
			<li class="item dropdown">
				<span>Support</span>
				<ul>
					<li>
						<a class="item{{#if faq}} active{{/if}}" href="/faq">FAQ</a>
					</li>
					<li>
						<a class="item{{#if system-status}} active{{/if}}" href="/driftinformation">Driftinformation</a>
					</li>
				</ul>
			</li>
			<li>
				<a class="item{{#if contact}} active{{/if}}" href="/kontakt">Kontakt</a>
			</li>
			<li>
				<a class="item" href="doc/tele10-gdpr.pdf">GDPR</a>
			</li>
			<li>
				<a class="item" href="https://www.shop.tele10.se/">Shop</a>
			</li>
			<li class="item right dropdown">
				<span>Logga in</span>
				<ul>
					<li>
						<a class="item" href="https://hem.tele10.se/">Hem.tele10.se</a>
					</li>
				</ul>
			</li>
			<li class="float-right mr-3">
				<a class="item" href="https://www.instagram.com/tele10ab/" target="_blank"><img src="media/images/instagram-icon.png" width="24"></a>
			</li>
			<li class="float-right mr-3">
				<a class="item" href="https://www.facebook.com/tele10.se/" target="_blank"><img src="media/images/facebook-icon.png" width="24"></a>
			</li>
		</ul>
		<div class="button"></div>
	</div>
</nav>