<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-8">
                <h4>Om f&ouml;retaget</h4>
                <p>Tele10 &auml;r ett dotterbolag till Rockford Solutions AB.</p>
                <p>F&ouml;retagets medarbetare har funnits i telekombranschen i mer &auml;n 15 &aring;r.</p>
            </div>
            <div class="contact-footer col-12 col-md-6 col-lg-4">
                <h4>Kontakt</h4>
                <address>
                    <div>
                        <strong>Tele10 AB</strong>
                    </div>
                    <div>Box 2154</div>
                    <div>421 02 V&auml;stra Fr&ouml;lunda</div>
                    <div>
                        Telefon:
                        <a href="tel:0772101000">0772 - 10 10 00</a>
                    </div>
                    <div>
                        E-post:
                        <a href="mailto:info@tele10.se">info@tele10.se</a>
                    </div>
                </address>
            </div>
            <div class="map col-12">
                <iframe width="100%" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyACc4iV32BvIR2T-k08Lqq5op0A8fZtueg&q=Olof+Asklunds+gata+8,+421+30" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">
            <p class="copyright small col-12">
                Copyright © <script>document.write(new Date().getFullYear());</script> Tele10. All rights reserved.
            </p>
        </div>
    </div>
</div>