<!DOCTYPE HTML>
<html>

<head>
    {{> head title="Användartjänster" }}
</head>

<body>
    {{> analytics}}
    {{> navbar anvandartjanster=true}}
    <div class="hero products-and-services">
        <div class="caption">
            <h1>Användartj&auml;nster</h1>
        </div>
    </div>
    <div class="services-preamble preamble">
        <div class="container">
            <div class="row no-gutters">
                <div class="message col-12">
                    <h2 class="title">Fler funktioner!</h2>
                    <p>Till v&auml;xell&ouml;sningarna finns det m&ouml;jlighet att koppla ytterligare funktionalitet i form av olika till&auml;ggstj&auml;nster.</p>
                    <p>Med till&auml;ggstj&auml;nsterna kan du skapa en unik kommunikationsl&ouml;sning som &auml;r anpassad f&ouml;r just ditt f&ouml;retag och specifika &ouml;nskem&aring;l.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="mobile" class="services grey">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-3">
                    <img src="img/services-mobile.png" alt="Services Mobile" class="phone">
                </div>
                <div class="col-12 col-lg-9">
                    <h2 class="title">Mobiltelefoni</h2>
                    <p>Tele10 är en fristående virtuell mobiloperatör som opererar i Telias mobila nät.<br>Med ett välkänt mobilnät samt en snabb och flexibel organisation har vi de bästa förutsättningarna att hjälpa dig i din mobila vardag.</p>
                    <p>Med Appen Tele10 kan även externa mobiler MEXas.</p>
                    <img src="img/sim-card.png" alt="Tele10 Sim card" class="sim-card">
                </div>
            </div>
        </div>
    </div>
    <div class="services">
        <div class="container">
            <div class="row no-gutters service text-center text-lg-left">
                <div class="col-12 col-lg-8 text-container">
                    <h2 class="title">Tele10 H&auml;nvisning</h2>
                    <p class="info">Med Tele10 h&auml;nvisning kan varje medarbetare v&auml;lja att h&auml;nvisa sig vid lunch eller m&ouml;te &aring;ter klockan osv. Detta styr &auml;ven tillg&auml;nglighet f&ouml;r svarsgrupper.</p>
                </div>
                <div class="col-12 col-lg-4 text-lg-right bottom-aligned">
                    <img src="img/service-hanvisning.png" alt="Tele10 H&auml;nvisning">
                </div>
            </div>
        </div>
    </div>
    <div class="services grey">
        <div class="container">
            <div class="row no-gutters service text-center text-lg-left">
                <div class="col-12 col-lg-4">
                    <img src="img/service-softphone.png" alt="Tele10 CRM">
                </div>
                <div class="col-12 col-lg-8 text-container">
                    <h2 class="title">Click to call / CRM Integration</h2>
                    <p class="info">Med applikationen <strong>click to call</strong> kan anv&auml;ndaren markera ett nummer i sin dator och direkt ringa upp det genom ett valbart snabbkommando.</p>
                    <p class="info">Programmet har ocks&aring; st&ouml;d f&ouml;r s&aring; kallade <strong>call to</strong>-l&auml;nkar p&aring; webbsidor eller i CRM-system, vilket inneb&auml;r att dessa nummer blir klickbara f&ouml;r direkt uppringning.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="multiple services">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-12 col-lg-6 service">
                    <div class="row no-gutters text-center">
                        <div class="col-12">
                            <img src="img/service-phone.png" alt="Tele10 Phone">
                        </div>
                        <div class="col-12 text-container">
                            <h2 class="title">Tele10 Personlig telefonist</h2>
                            <p class="info">Tele10 personlig telefonist &auml;r en mycket smart funktion f&ouml;r att samtal ska hamna p&aring; r&auml;tt st&auml;lle.</p>
                            <p class="info">Detta m&ouml;jligg&ouml;rs genom att anv&auml;ndaren kan ha olika meddelande vid upptagen och ej tillg&auml;nglig, d&auml;r uppringaren f&aring;r m&ouml;jlighet att g&ouml;ra ett aktivt val beroende p&aring; status, t.ex. kopplas till telefonist, v&auml;nta kvar vid upptaget eller l&auml;mna ett meddelande.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 service">
                    <div class="row no-gutters text-center">
                        <div class="col-12">
                            <img src="img/service-calendar.png" alt="Tele10 Calendar">
                        </div>
                        <div class="col-12 text-container">
                            <h2 class="title">Tele10 Kalenderintegration</h2>
                            <p class="info">Med Tele10 Kalenderintegration beh&ouml;ver du inte l&auml;ngre manuellt knappa in n&aring;gra h&auml;nvisningar.</p>
                            <p class="info">Kalendern aktiverar och inaktiverar ist&auml;llet dina &ouml;nskade h&auml;nvisningar helt automatiskt.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> copyright}}
    <script type="text/javascript" src="script/script.js"></script>
</body>

</html>
