<!DOCTYPE HTML>
<html>

<head>
    {{> head title="Faq" }}
</head>

<body>
    {{> analytics system-status=true}}
    {{> navbar}}
    <div class="hero products-and-services">
        <div class="caption">
            <h1>FAQ - Vanliga frågor</h1>
        </div>
    </div>
    <div class="system-status">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Vi har för närvarande inga driftstörningar.</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    {{> copyright}}
    <script type="text/javascript" src="script/script.js"></script>
</body>

</html>