<!DOCTYPE HTML>
<html>

<head>
    {{> head title="Hem" }}
</head>

<body>
    <script async>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-98888977-1', 'auto');
    ga('send', 'pageview');
    </script>
    {{!-- <nav class="navbar navbar-toggleable-md navbar-light bg-white">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
            <img src="img/logo.png" height="30" alt="Tele10">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Hem
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/om-oss">Om oss</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/produkter">Produkter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tjanster">Tj&auml;nster</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/kontakt">Kontakt</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="https://hem.tele10.se/">Logga in</a>
                </li>
            </ul>
        </div>
    </nav> --}}
    <div class="fullscreen-hero">
        <video playsinline autoplay muted loop preload="auto">
            <source src="../video/index-hero.mp4" type="video/mp4">
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href="http://videojs.com/html5-video-support/" target="_blank">
                    supports HTML5 video
                </a>
            </p>
        </video>
        <div class="caption fadeInUp animated">
            <h1>Molnbaserad v&auml;xel, fast eller mobil.</h1>
            <h3>Skapa unika kommunkationsl&ouml;sningar med v&aring;ra till&auml;ggstj&auml;nster.</h3>
            <button id="read-more" type="button" class="btn btn-outline-primary">L&auml;s mer</button>
        </div>
    </div>
    <div class="pitch">
        <div class="container">
            <div class="row no-gutters">
                <div class="message col-12">
                    <h2 class="title">En v&auml;xel f&ouml;r alla!</h2>
                    <p>Vi erbjuder v&auml;xell&ouml;sningar d&auml;r det g&aring;r att kombinera fasta och mobila enheter samt softphones. V&aring;ra v&auml;xlar inneh&aring;ller i princip alla v&auml;xelfunktioner och tj&auml;nster som beh&ouml;vs.</p>
                </div>
                <div class="col-12 col-md-8 offset-md-2 col-lg-12 offset-lg-0">
                    <div class="row no-gutters">
                        <div class="box col-12 col-lg-4">
                            <div class="icon">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                <div>
                                    <h3 class="title">Bastj&auml;nster</h3> T.ex. koppla vidare, nummerpresentation, direktval, r&ouml;stbrevl&aring;dor mm.
                                </div>
                            </div>
                        </div>
                        <div class="box col-12 col-lg-4">
                            <div class="icon">
                                <img src="img/dial-pad.png" alt="Dial pad">
                            </div>
                            <div class="text">
                                <div>
                                    <h3 class="title">IVR knappval</h3>
                                    <p>T.ex. tryck 1 f&ouml;r att prata med en s&auml;ljare, tryck 2 f&ouml;r service osv.</p>
                                </div>
                            </div>
                        </div>
                        <div class="box col-12 col-lg-4">
                            <div class="icon">
                                <img src="img/queue.png" alt="Queue">
                            </div>
                            <div class="text">
                                <div>
                                    <h3 class="title">ACD</h3>
                                    <p>Avancerade k&ouml;funktioner som kan l&auml;mna meddelande om plats i k&ouml;, v&auml;ntetid mm.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="examples">
        <div class="container">
            <h1>Tele10 molnv&auml;xel</h1>
            <p class="sub-header">Tele10 UC &auml;r en kostnadseffektiv och funktionell IP-baserad v&auml;xeltj&auml;nst som via Internet kopplar samman era kontor, distansarbetsplatser eller medarbetare som reser mycket. V&auml;xeltj&auml;nsten &auml;r anpassad f&ouml;r alla typer av f&ouml;retag.</p>
        </div>
        <img src="img/showcase.png" alt="Showcase" class="showcase fadeIn animated">
        <div class="container">
            <div class="more-info">
                <p>V&auml;xelpaketet F&ouml;retag Tele10 UC &auml;r en v&auml;xell&ouml;sning d&auml;r det g&aring;r att kombinera fasta och mobila enheter samt softphones.
                    <br />Tele10 UC inneh&aring;ller i princip alla v&auml;xelfunktioner och tj&auml;nster som beh&ouml;vs.</p>
                <ul>
                    <li class="fadeInLeft animated">
                        <i class="fa fa-check" aria-hidden="true"></i> Bastj&auml;nster: T.ex. koppla vidare, nummerpresentation, direktval, r&ouml;stbrevl&aring;dor mm.
                    </li>
                    <li class="fadeInLeft animated">
                        <i class="fa fa-check" aria-hidden="true"></i> Marknadens b&auml;sta administrationsgr&auml;nssnitt d&auml;r v&auml;xeln l&auml;tt kan konfigureras.
                    </li>
                    <li class="fadeInLeft animated">
                        <i class="fa fa-check" aria-hidden="true"></i> Till&auml;ggstj&auml;nster: IVR knappval, t.ex. tryck 1 f&ouml;r att prata med en s&auml;ljare, tryck 2 f&ouml;r service osv.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clients">
        <div class="container">
            <h1>Nöjda kunder</h1>
        </div>
        <div class="container">
            <div class="row logos">
                <div class="col-12 col-md-4 active">
                    <img src="img/world_of_golf-bw.png" alt="World of Golf" data-quote="1">
                </div>
                <div class="col-12 col-md-4">
                    <img src="img/marstrands_havshotell-bw.png" alt="Marstrands Havshotell" data-quote="2">
                </div>
                <div class="col-12 col-md-4">
                    <img src="img/koberg_golfklubb-bw.png" alt="Koberg Golfklubb" data-quote="3">
                </div>
            </div>
            <div class="row quotes">
                <div class="col-12 quote active">
                    <p>
                        <i>"Betydligt mycket lättare administration, allt i ett system och bättre hantering av inkommande samtal i en flexibel miljö. Tele10 som helhetsleverantör är mycket seriös och lämnar inte förrän allt funkar som förväntat."</i>
                    </p>
                </div>
                <div class="col-12 quote">
                    <p>
                        <i>"Tele10 erbjöd det alternativ som var mest framtids säkrat och flexibelt samtidigt som offerten låg mycket bra till rent ekonomiskt."</i> &mdash; Daniel Svensson, Hotelldirektör Marstrands Havshotell
                    </p>
                </div>
                <div class="col-12 quote">
                    <p>
                        <i>"Du får nu information på ett helt annat sätt när du kontaktar oss via telefon. Tele10 har anpassat en mycket smidig och kraftfull lösning just för våra behov."</i>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-8">
                    <h4>Om f&ouml;retaget</h4>
                    <p>Tele10 &auml;r ett dotterbolag till Rockford Solutions AB.</p>
                    <p>F&ouml;retagets medarbetare har funnits i telekombranschen i mer &auml;n 15 &aring;r.</p>
                </div>
                <div class="contact-footer col-12 col-md-6 col-lg-4">
                    <h4>Kontakt</h4>
                    <address>
                        <div>
                            <strong>Tele10 AB</strong>
                        </div>
                        <div>Box 2154</div>
                        <div>421 02 V&auml;stra Fr&ouml;lunda</div>
                        <div>
                            Telefon:
                            <a href="tel:0772101000">0772 - 10 10 00</a>
                        </div>
                        <div>
                            E-post:
                            <a href="mailto:info@tele10.se">info@tele10.se</a>
                        </div>
                    </address>
                </div>
                <div class="map col-12">
                    <iframe width="100%" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyACc4iV32BvIR2T-k08Lqq5op0A8fZtueg&q=Olof+Asklunds+gata+8,+421+30" allowfullscreen></iframe>
                </div>
            </div>
            <div class="row">
                <p class="copyright small col-12">
                    Copyright © <script>document.write(new Date().getFullYear());</script> Tele10. All rights reserved.
                </p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../script/script.js"></script>
</body>

</html>
