<!DOCTYPE HTML>
<html>

<head>
    {{> head title="Om Tele10" }}
</head>

<body>
    {{> navbar om-tele10=true}}
    <div class="hero about-us">
        <div class="caption">
            <h1>Om Tele10</h1>
        </div>
    </div>
    <div class="about">
        <div class="container">
            <p>V&aring;r aff&auml;rsid&eacute; &auml;r att erbjuda flexibla och kostnadseffektiva kommunikationstj&auml;nster f&ouml;r f&ouml;retag och organisationer. Fast eller mobil telefon. P&aring; kontoret, p&aring; landet, hemma eller i Peking.</p>
            <p>Det skall vara enkelt och billigt att vara en del av f&ouml;retagets v&auml;xel var man &auml;n befinner sig. Med hj&auml;lp av den senaste tekniken tar vi fram tj&auml;nster som effektiviserar b&aring;de kostnader och Ert s&auml;tt att arbeta.</p>
            <p>En personlig kontakt från kontrakt till driftsättning.</p>
        </div>
    </div>
    {{> copyright}}
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="script/script.js"></script>
</body>

</html>
