<!DOCTYPE HTML>
<html>

<head>
    {{> head title="Växeltjänster" }}
</head>

<body>
    {{> analytics}}
    {{> navbar vaxeltjanster=true}}
    <div class="hero products-and-services">
        <div class="caption">
            <h1>Växeltjänster</h1>
        </div>
    </div>
    <div class="preamble">
        <div class="container">
            <div class="row no-gutters">
                <div class="message col-12">
                    <h2 class="title">En v&auml;xel f&ouml;r alla!</h2>
                    <p><strong>V&auml;xelpaket F&ouml;retag</strong> &auml;r en kostnadseffektiv och funktionell IP-baserad v&auml;xeltj&auml;nst f&ouml;r att via internet koppla samman flera kontor, distansarbetsplatser eller medarbetare som reser mycket.</p>
                    <p>V&auml;xeltj&auml;nsten &auml;r anpassad f&ouml;r alla typer av f&ouml;retag.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="products grey">
        <div class="container">
            <div class="row no-gutters product text-center text-lg-left">
                <div class="col-12 col-lg-4 fadeInLeft animated">
                    <img src="img/product-total.png" alt="Tele10 Total">
                </div>
                <div class="col-12 col-lg-8 text-container fadeInRight animated">
                    <h2 class="title">Tele10 Total</h2>
                    <h4 class="sub-title">En v&auml;xell&ouml;sning d&auml;r det g&aring;r att kombinera fasta och mobila enheter samt softphones.</h4>
                    <p class="info">Tele10 Total inneh&aring;ller i princip alla v&auml;xelfunktioner och tj&auml;nster som beh&ouml;vs.</p>
                    <ul>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Bastj&auml;nster, t.ex. koppla vidare, nummerpresentation, direktval, r&ouml;stbrevl&aring;dor mm.
                        </li>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            IVR knappval, t.ex. tryck 1 f&ouml;r att prata med en s&auml;ljare, tryck 2 f&ouml;r service osv.
                        </li>
                        <li>
                            <i class="fa fa-check" aria-hidden="true"></i>
                            ACD - avancerade k&ouml;funktioner som kan l&auml;mna meddelande om plats i k&ouml;, v&auml;ntetid mm.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="products multiple">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-12 col-md-6 product">
                    <div class="row no-gutters text-center">
                        <div class="col-12">
                            <img src="img/product-mobil.png" alt="Tele10 Mobil">
                        </div>
                        <div class="col-12 text-container">
                            <h2 class="title">Tele10 Mobil</h2>
                            <h5 class="sub-title">V&auml;lj den typ av mobiltelefon som passar dig.</h5>
                            <p class="info">Ladda ned appen <strong>Tele10</strong> så f&aring;r du alla v&auml;xelns funktioner direkt i mobilen.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 product">
                    <div class="row no-gutters text-center">
                        <div class="col-12">
                            <img src="img/Gigaset-SL610-PRO-phone.png" alt="Tele10 Fast">
                        </div>
                        <div class="col-12 text-container">
                            <h2 class="title">Tele10 Fast</h2>
                            <h5 class="sub-title">V&auml;lj den typ av fasttelefon som passar dig.</h5>
                            <p class="info">Fast &mdash; avancerad, enklare eller b&auml;rbar.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="products multiple grey">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-12 col-md-6 product">
                    <div class="row no-gutters text-center">
                        <div class="col-12">
                            <img src="img/product-soft.png" alt="Tele10 Soft">
                        </div>
                        <div class="col-12 text-container">
                            <h2 class="title">Tele10 Soft</h2>
                            <h5 class="sub-title">V&auml;lj softphone som passar dig.</h5>
                            <p class="info">Fungerar &auml;ven med videosamtal.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 product">
                    <div class="row no-gutters text-center">
                        <div class="col-12">
                            <img src="img/showcase.png" alt="Tele10 Mix">
                        </div>
                        <div class="col-12 text-container">
                            <h2 class="title">Tele10 Mix</h2>
                            <h5 class="sub-title">Anv&auml;nd b&aring;de fasttelefon, softphone eller mobil.</h5>
                            <p class="info">Du kan ha samma anknytningsnummer och direktval p&aring; alla enheter.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> copyright}}
    <script type="text/javascript" src="script/script.js"></script>
</body>

</html>
