.fullscreen-hero {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(../img/hero/hero-sm.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    overflow: hidden;
    video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        // background: url(polina.jpg) no-repeat;
        background-size: cover;
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $primary;
        opacity: 0.3;
        z-index: 0;
    }
    .caption {
        position: absolute;
        z-index: 1;
        text-align: center;
        left: 50%;
        -ms-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        padding-left: 15px;
        padding-right: 15px;
        color: #fff;
        top: calc(50% - 182px / 2);
        @media only screen and (min-width: $screen-xl-min) {
            max-width: 720px;
        }
        h1 {
            margin-bottom: 30px;
            font-size: 48px;
            font-weight: 300;
        }
        h3 {
            margin-bottom: 15px;
            font-size: 18px;
            font-weight: 300;
            @media only screen and (min-width: $screen-md-min) {
                margin-bottom: 30px;
                font-size: 20px;
            }
        }
        .btn {
            border-radius: 0;
            border: 1px solid #fff;
            color: #fff;
            padding: 0.8rem 2rem;
            cursor: pointer;
            background-color: transparent;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }
}

.hero {
    width: 100vw;
    position: relative;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 180px;
    @media only screen and (min-width: $screen-md-min) {
        height: 320px;
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $primary;
        opacity: 0.3;
        z-index: 0;
    }
    .caption {
        position: relative;
        z-index: 1;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        color: #fff;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        @media only screen and (min-width: $screen-md-min) {
            max-width: 520px;
        }
        @media only screen and (min-width: $screen-xl-min) {
            max-width: 680px;
        }
        h1 {
            margin-bottom: 30px;
            @media only screen and (max-width: $screen-sm-max) {
                margin-bottom: 15px;
                font-size: 30px;
            }
        }
        h3 {
            margin-bottom: 15px;
            font-size: 18px;
            @media only screen and (min-width: $screen-md-min) {
                margin-bottom: 30px;
                font-size: 20px;
            }
        }
        .btn {
            border-radius: 0;
            border-color: #fff;
            color: #fff;
            padding: 0.8rem 2rem;
            cursor: pointer;
        }
    }
}

.hero.about-us {
    background-image: url(../img/hero/hero-about-us-bw-sm.png);
    @media only screen and (min-width: $screen-md-min) {
        background-image: url(../img/hero/hero-about-us-bw-md.png);
    }
    @media only screen and (min-width: $screen-lg-min) {
        background-image: url(../img/hero/hero-about-us-bw-lg.png);
    }
    @media only screen and (min-width: $screen-xl-min) {
        background-image: url(../img/hero/hero-about-us-bw-xl.png);
    }
    @media only screen and (min-width: $screen-xxl-min) {
        background-image: url(../img/hero/hero-about-us-bw-xxl.png);
    }
    @media only screen and (min-width: $screen-xxxl-min) {
        background-image: url(../img/hero/hero-about-us-bw-xxxl.png);
    }
}

.hero.products-and-services {
    background-image: url(../img/hero/hero-products-and-services-bw-sm.png);
    @media only screen and (min-width: $screen-md-min) {
        background-image: url(../img/hero/hero-products-and-services-bw-md.png);
    }
    @media only screen and (min-width: $screen-lg-min) {
        background-image: url(../img/hero/hero-products-and-services-bw-lg.png);
    }
    @media only screen and (min-width: $screen-xl-min) {
        background-image: url(../img/hero/hero-products-and-services-bw-xl.png);
    }
    @media only screen and (min-width: $screen-xxl-min) {
        background-image: url(../img/hero/hero-products-and-services-bw-xxl.png);
    }
    @media only screen and (min-width: $screen-xxxl-min) {
        background-image: url(../img/hero/hero-products-and-services-bw-xxxl.png);
    }
}

.hero.contact {
    background-image: url(../img/hero/hero-about-us-bw-sm.png);
    @media only screen and (min-width: $screen-md-min) {
        background-image: url(../img/hero/hero-about-us-bw-md.png);
    }
    @media only screen and (min-width: $screen-lg-min) {
        background-image: url(../img/hero/hero-about-us-bw-lg.png);
    }
    @media only screen and (min-width: $screen-xl-min) {
        background-image: url(../img/hero/hero-about-us-bw-xl.png);
    }
    @media only screen and (min-width: $screen-xxl-min) {
        background-image: url(../img/hero/hero-about-us-bw-xxl.png);
    }
    @media only screen and (min-width: $screen-xxxl-min) {
        background-image: url(../img/hero/hero-about-us-bw-xxxl.png);
    }
}